<div class="generic-edit" *ngIf="temp">    
    <div class="ge-head">
        <div class="ge-title {{temp.employeeAction.direction}}"><span>{{temp.employeeAction.name}}</span></div>
        <div class="roundbtn close" routerLink="/deals"><span></span></div>
    </div>
    <div class="ge-main">
        <div class="generic-form">
            <div class="gf-sectionhead gf-margined3">{{lang.phrases['actions-main']}}</div>
            <div class="gf-param gf-margined3">
                <div class="gfp-title gf-margined1"><label>{{lang.phrases['common-createdat']}}</label></div>
                <div class="gfp-inputwrap"><input type="text" disabled [value]="temp.formattedCreatedAt"></div>
            </div>
            <div class="gf-param gf-margined3">
                <div class="gfp-title gf-margined1"><label>{{lang.phrases['actions-message']}}</label></div>
                <chat-message [message]="temp.message" [buttonsEnabled]="false"></chat-message>
            </div>
            <div class="gf-param gf-margined3">
                <div class="gfp-title gf-margined1"><label>{{lang.phrases['actions-comment']}}</label></div>
                <div class="gfp-inputwrap ta"><textarea [(ngModel)]="temp.comment"></textarea></div>
            </div>
            <div class="gf-param gf-margined4">
                <div class="gfp-title gf-margined1"><label>{{lang.phrases['actions-tags']}}</label></div>
                <flex-select-creatable [items]="temp.tags" visibleField="name" object="actionTag"></flex-select-creatable>    
            </div>
            <div class="gf-sectionhead gf-margined3">{{lang.phrases['actions-files']}}</div>
            <div class="gf-margined5">
                <ng-container *ngIf="temp.files.length">
                    <action-file *ngFor="let f of temp.files" [name]="f.name" [url]="f.url" [(description)]="f.description"></action-file> 
                </ng-container>
                <ng-container *ngIf="!temp.files.length">
                    <em>{{lang.phrases["common-empty2"]}}</em>
                </ng-container>
            </div>    
            <div class="gf-sectionhead gf-margined3">{{lang.phrases['actions-reminders']}}</div>       
            <div class="gf-margined5">
                <action-reminders [reminders]="temp.reminders"></action-reminders>
            </div>            
            <div class="gf-sectionhead gf-margined3">{{lang.phrases['actions-status']}}</div>       
            <div class="gf-margined2">
                <div class="selectwrap">
                    <select [(ngModel)]="temp.actionstatus_id">
                        <option [ngValue]="null">{{lang.phrases["common-empty4"]}}</option>
                        <option *ngFor="let s of actionStatuses" [ngValue]="s.id">{{s.name}}</option>
                    </select>
                </div> 
            </div>
        </div>
    </div>    
    <div class="ge-foot">
        <div class="gef-left">
            <button *ngIf="temp.id" type="button" class="neutral cancel" routerLink="/deals"><span>{{lang.phrases['common-cancel']}}</span></button>            
        </div>
        <div class="gef-right">
            <button type="button" class="save" [class.busy]="loading" (click)="onSave()"><span>{{lang.phrases['common-save']}}</span></button>            
        </div>
    </div>    
</div>