<div class="auth">
    <div class="auth-left">
        <div class="auth-content">                        
            <form class="generic-form" (submit)="login()">
                <div class="gf-logo gf-margined5"><img src="/assets/img/logo.svg" alt="logo"></div>
                <div class="gf-head gf-margined5">
                    <div class="gf-head1">{{lang.phrases['login-head']}}</div>                
                </div>
                <div class="gf-param gf-margined3">
                    <div class="gfp-title gf-margined1"><label>{{lang.phrases['login-email']}} *</label></div>
                    <div class="gfp-inputwrap"><input type="email" name="email" [(ngModel)]="email" [class.error]="formErrorEmail"></div>
                    <div class="gfp-error" *ngIf="formErrorEmail">{{lang.phrases['login-error-email']}}</div>
                </div>
                <div class="gf-param gf-margined5">
                    <div class="gfp-title gf-margined1">
                        <label>{{lang.phrases['login-password']}} *</label>
                        <label><a routerLink="/auth/recover">{{lang.phrases['login-forgot']}}</a></label>
                    </div>
                    <div class="gfp-inputwrap"><input type="password" name="password" [(ngModel)]="password" [class.error]="formErrorPassword"></div>
                    <div class="gfp-error" *ngIf="formErrorPassword">{{lang.phrases['login-error-password']}}</div>
                </div>
                <div class="gf-param gf-margined6">
                    <div class="gfp-inputwrap"><button type="submit" class="login" [class.busy]="formLoading"><span>{{lang.phrases['login-submit']}}</span></button></div>
                    <div class="gfp-error centered" *ngIf="formErrorDenied">{{lang.phrases['login-error-denied']}}</div>
                </div>
            </form>            
        </div>        
    </div>
    <div class="auth-right">
        <div class="ar-bg"><img src="/assets/img/bg.svg"></div>
    </div>
</div>