.contact-info {
    @media (min-width: 0) {width:100%; right: -100%;}
    @media (min-width: 1000px) {width:400px; right: -400px;}
    position: absolute; top: 0; height: 100%; background-color: white; transition: 0.3s; z-index: 2; box-shadow: var(--shadow-win); opacity: 0;
    &.active {right: 0; opacity: 1;}
    .ci-head {
        @media (min-width: 0) {padding: 0 15px;}
        @media (min-width: 1000px) {padding: 0 25px;}
        height: 60px; background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center;
        .ci-close {
            margin-right: 15px;            
            span::before {content: "\f00d";}                                
        }
        .ci-title {font-size: 16px; font-weight: 500;}
    }
    .ci-content {
        @media (min-width: 0) {padding: 15px;}
        @media (min-width: 1000px) {padding: 20px 25px;}
        height: calc(100% - 60px); overflow-y: auto; position: relative;
        .ci-edit {
            @media (min-width: 0) {top: 15px; left: 15px;}
            @media (min-width: 1000px) {top: 20px; left: 25px;}
            position: absolute; margin-right: 15px;             
            span::before {content: "\f044";}  
        }
        .ci-imgwrap {
            display: flex; justify-content: center; margin-bottom: 15px;
            .ci-img {width:150px; height: 150px; border-radius: 75px; background-position: center center; background-size: cover; background-color: var(--color-grey4); text-transform: uppercase; display: flex; align-items: center; justify-content: center; font-size: 24px;}
        }
        .ci-name {font-size: 16px; font-weight: 500; text-align: center; margin-bottom: 30px;}
        .ci-section {
            margin-bottom: 30px;
            &:last-child {margin-bottom: 0;}
            .cis-head {font-size: 16px; font-weight: 500; margin-bottom: 15px;}
            .cis-param {
                margin-bottom: 15px;
                &:last-child {margin-bottom: 0;}
                .cis-title {font-weight: 500; color: var(--color-grey3); margin-bottom: 3px;}
                .cis-value {}
            }
        }
    }
}