<div class="contact-info" [class.active]="active">
    <div class="ci-head">
        <div class="roundbtn ci-close" (click)="close()"><span></span></div>
        <div class="ci-title">{{lang.phrases["chat-info-title"]}}</div>
    </div>
    <div class="ci-content">
        <div class="roundbtn ci-edit" routerLink="/contractors/edit/{{contractor.id}}"><span></span></div>
        <div class="ci-imgwrap">
            <div class="ci-img" [style.background-image]="contractor.imgOut"><span *ngIf="!contractor.img">{{contractor.firstLetter}}</span></div>
        </div>
        <div class="ci-name">{{contractor.name}}</div>
        <div class="ci-section">                        
            <div class="cis-param">
                <div class="cis-title">{{lang.phrases["chat-info-groups"]}}</div>
                <div class="cis-value">{{contractor.groups.length ? contractor.groupNames : lang.phrases["common-empty2"]}}</div>
            </div>            
            <div class="cis-param">
                <div class="cis-title">{{lang.phrases["chat-info-phone"]}}</div>
                <div class="cis-value">{{contractor.phone}}</div>
            </div>            
            <div class="cis-param">
                <div class="cis-title">{{lang.phrases["chat-info-banned"]}}</div>
                <div class="cis-value">{{contractor.banned ? lang.phrases["common-yes"] : lang.phrases["common-no"]}}</div>
            </div>
            <div class="cis-param">
                <div class="cis-title">{{lang.phrases["common-createdat"]}}</div>
                <div class="cis-value">{{contractor.formattedCreatedAt}}</div>
            </div>
        </div>        
    </div>
</div>