<div class="menubtn message-menubtn" id="menubtn-{{unique}}" #btnelement>
    <div class="roundbtn menubtn-btn" (click)="activate()"><span></span></div>
    <div class="menubtn-menu" [class.active]="active" [style.left]="menuLeft" [style.top]="menuTop">
        <ul>
            <li *ngFor="let item of items" [class]="item" (click)="onSelect(item)"><span>{{lang.phrases["chat-msgmenu-"+item]}}</span></li>            
        </ul>
    </div>
</div>
