.message-menubtn.menubtn {
    position: absolute; left: calc(100% + 5px); top: 0;
    .menubtn-btn {
        width:25px; height: 25px; border-radius: 15px;
        span::before {font-size: 14px;}                                
    }
    .menubtn-menu {z-index: 2; width: 150px; position: fixed;}
}