<div class="auth">
    <div class="auth-left">
        <div class="auth-content">                        
            <form class="generic-form" (submit)="recover()">
                <ng-container *ngIf="!formSent">
                    <div class="gf-logo gf-margined5"><img src="/assets/img/logo.svg" alt="logo"></div>
                    <div class="gf-head gf-margined5">
                        <div class="gf-head1">{{lang.phrases['recover-head']}}</div>                
                        <div class="gf-head2">{{lang.phrases['recover-head2']}}</div>                
                        <div class="gf-head2">{{lang.phrases['recover-remember']}}&nbsp;<a routerLink="/auth/login">{{lang.phrases['recover-login']}}</a></div>                
                    </div>  
                    <div class="gf-param gf-margined3">
                        <div class="gfp-title gf-margined1"><label>{{lang.phrases['recover-email']}} *</label></div>
                        <div class="gfp-inputwrap"><input type="email" name="email" [(ngModel)]="email" [class.error]="formErrorEmail"></div>
                        <div class="gfp-error" *ngIf="formErrorEmail">{{lang.phrases['recover-error-email']}}</div>
                        <div class="gfp-error" *ngIf="formErrorEmailNotExists">{{lang.phrases['recover-error-emailnotexists']}}</div>
                    </div> 
                    <div class="gf-param gf-margined3">
                        <div class="gf-2cols">
                            <div class="gf-col">
                                <div class="gfp-title gf-margined1"><label>{{lang.phrases['recover-code']}} *</label></div>
                                <div class="gfp-inputwrap"><input type="text" name="code" [(ngModel)]="code" [class.error]="formErrorCode || formErrorCodeInvalid"></div>
                                <div class="gfp-error" *ngIf="formErrorCode">{{lang.phrases['recover-error-code']}}</div> 
                                <div class="gfp-error" *ngIf="formErrorCodeInvalid">{{lang.phrases['recover-error-codeinvalid']}}</div> 
                            </div>
                            <div class="gf-col">
                                <div class="gfp-title gf-margined1">&nbsp;</div>
                                <div class="gfp-inputwrap" *ngIf="!formCodeSent"><button type="button" class="code" [class.busy]="formCodeSending" (click)="verifyEmail()"><span>{{lang.phrases['recover-sendcode']}}</span></button></div>
                                <div class="gfp-inputwrap" *ngIf="formCodeSent">{{lang.phrases['recover-codesent']}}</div>                
                            </div>
                        </div>        
                    </div> 
                    <div class="gf-param gf-margined3">
                        <div class="gfp-title gf-margined1"><label>{{lang.phrases['recover-password']}} *</label></div>
                        <div class="gfp-inputwrap"><input type="password" name="password" [(ngModel)]="password" [class.error]="formErrorPassword" [placeholder]="lang.phrases['recover-password-ph']"></div>
                        <div class="gfp-error" *ngIf="formErrorPassword">{{lang.phrases['recover-error-password']}}</div>
                    </div>        
                    <div class="gf-param gf-margined5">
                        <div class="gfp-title gf-margined1"><label>{{lang.phrases['recover-password2']}} *</label></div>
                        <div class="gfp-inputwrap"><input type="password" name="password2" [(ngModel)]="password2" [class.error]="formErrorPassword2"></div>
                        <div class="gfp-error" *ngIf="formErrorPassword2">{{lang.phrases['recover-error-password2']}}</div>
                    </div>   
                    <div class="gf-param gf-margined6">
                        <div class="gfp-inputwrap"><button type="submit" class="recover" [class.busy]="formLoading"><span>{{lang.phrases['recover-submit']}}</span></button></div>                        
                    </div> 
                </ng-container>
                <ng-container *ngIf="formSent">
                    <div class="gf-head gf-margined3">
                        <div class="gf-head2">{{lang.phrases['recover-sent']}}</div>
                    </div>    
                    <div class="gf-param gf-margined6">
                        <div class="gfp-inputwrap"><button type="button" class="login" routerLink="/auth/login"><span>{{lang.phrases['recover-login']}}</span></button></div>                        
                    </div>                 
                </ng-container>    
            </form>            
        </div>        
    </div>
    <div class="auth-right">
        <div class="ar-bg"><img src="/assets/img/bg.svg"></div>
    </div>
</div>
