<div class="flex-select">
    <div *ngFor="let item of items" class="fs-item" [innerHTML]="item[visibleField]"></div>
    <div class="fs-item btn" id="fs-item-btn-{{unique}}" #btnelement (click)="menuOnActivate()"><span>{{lang.phrases["common-edit"]}}</span></div>
    <div class="fs-menu" id="fs-menu-{{unique}}" [class.active]="menuActive" [style.left]="menuLeft" [style.top]="menuTop">
        <form *ngIf="withSearch" class="fsm-search" (submit)="initSelectableItems()">
            <div class="fsm-inputwrap">
                <input type="text" name="search" [(ngModel)]="sitemsSearch" autocomplete="off" [placeholder]="lang.phrases['common-search']">
            </div>            
            <button type="submit"></button>
        </form>
        <div class="fsm-sitems" (scroll)="sitemsOnScroll()" #sitemselement>
            <ng-container *ngIf="sitemsReady">
                <ul>
                    <li *ngFor="let sitem of sitems" (click)="sitemsOnClick(sitem)">
                        <div class="fsm-mark" [class.active]="sitemsIsActive(sitem.id)"><span></span></div>                
                        <div class="fsm-title" [innerHTML]="sitem[visibleField]"></div>
                    </li>            
                </ul>            
            </ng-container>            
            <ng-container *ngIf="!sitemsReady">
                <div class="loading"><span></span></div>
            </ng-container>
        </div>
    </div>
</div>