<div class="pw-overlay deals" [class.active]="active"></div>
<div class="pw-container deals" [class.active]="active">
    <div class="pw-win">
        <div class="pw-head">
            <div class="pw-title">{{lang.phrases["chat-deals-title"]}}</div>
            <div class="pw-close roundbtn" (click)="onClose()"><span></span></div>
        </div>
        <div class="pw-main"> 
            <form class="deals-search" (submit)="initDeals()">
                <div class="ds-inputwrap"><input type="text" name="search" [(ngModel)]="dealsSearch" [placeholder]="lang.phrases['common-search']"></div>
                <button type="submit"></button>
            </form>
            <div class="deals-list" #dealselement (scroll)="onScroll()">
                <ng-container *ngIf="dealsReady">
                    <ng-container *ngFor="let d of deals">
                        <div class="dl-deal wo-actions" [class.active]="d.id === deal?.id && !action" (click)="deal = d">
                            <div class="dld-name">{{d.id}} | {{d.formattedCreatedAtShort}}<span *ngIf="d.name"> | {{d.name}}</span><span *ngIf="d.client"> | {{d.client?.name}}</span></div>
                            <div class="dld-date" [class.closed]="d.closed">{{d.formattedCreatedAt}}</div>
                        </div>                        
                    </ng-container>
                    <div *ngIf="dealsLoadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
                </ng-container>
                <ng-container *ngIf="!dealsReady">
                    <div class="loading"><span></span></div>
                </ng-container>
            </div>
            <!--
            <div class="deal-items" #dealselement (scroll)="onScroll()">
                <div class="deal-itemswrap" [style.margin-right]="-scrollbarWidth+'px'">                
                    <ng-container *ngIf="dealsReady">                    
                        <div *ngFor="let d of deals" class="deal-item" [class.active]="d.id === deal?.id" (click)="deal = d">
                            <div class="di-main">
                                <div class="di-name">{{d.id}} | {{d.formattedCreatedAtShort}}<span *ngIf="d.name"> | {{d.name}}</span><span *ngIf="d.client"> | {{d.client?.name}}</span></div>
                                <div class="di-desc" [innerHTML]="d.descriptionShort"></div>                                
                                <div class="di-contractors">
                                    <div class="dic-head"><span>{{lang.phrases["chat-deals-contractors"]}}</span></div>
                                    <ul>
                                        <li *ngIf="d.contact">{{lang.phrases["chat-deals-contact"]}}: <span [innerHTML]="d.contact?.name"></span></li>                                
                                        <li *ngIf="d.client">{{lang.phrases["chat-deals-client"]}}: <span [innerHTML]="d.client?.name"></span></li>                                
                                        <li *ngIf="d.partner">{{lang.phrases["chat-deals-partner"]}}: <span [innerHTML]="d.partner?.name"></span></li>                                
                                    </ul>
                                </div>                                
                            </div>
                            <div class="di-foot">{{d.formattedCreatedAt}}</div>
                        </div>                
                        <div *ngIf="dealsLoadingMore" class="loading"><span></span></div>
                    </ng-container>
                    <ng-container *ngIf="!dealsReady">
                        <div class="loading"><span></span></div>
                    </ng-container>                
                </div>        
            </div>  
            -->          
        </div>
        <div class="pw-foot">
            <button type="button" class="neutral cancel" (click)="onClose()"><span>{{lang.phrases['common-cancel']}}</span></button>
            <button type="button" class="select" [disabled]="!deal" (click)="onSelect()"><span>{{lang.phrases['common-select']}}</span></button>
        </div>  
    </div>
</div>