<div class="ce-head">
    <div class="ce-img" [style.background-image]="x.imgOut">
        <div class="ce-imgdash">
            <div class="roundbtn ceid-btn img" (click)="onSelectImg()"><span></span></div>
            <div class="roundbtn ceid-btn delete" (click)="onDeleteImg()" *ngIf="x.img"><span></span></div>                
        </div>
    </div>
    <div *ngIf="errorImg" class="ce-imgerror">{{lang.phrases['common-error-img']}}</div>
    <div *ngIf="closable" class="roundbtn ce-close" routerLink="/contractors"><span></span></div>        
</div>
<div class="ce-content">
    <form class="generic-form" (submit)="onSave()">
        <div class="gf-sectionhead gf-margined3">{{lang.phrases['contractors-main']}}</div>
        <div class="gf-param gf-margined3">
            <div class="gfp-title gf-margined1"><label>{{lang.phrases['contractors-name']}} *</label></div>
            <div class="gfp-inputwrap"><input type="text" name="name" [(ngModel)]="x.name" [class.error]="errorName"></div>
            <div class="gfp-error" *ngIf="errorName">{{lang.phrases['contractors-error-name']}}</div>
        </div>
        <div class="gf-param gf-margined1">
            <div class="gfp-title gf-margined1"><label>{{lang.phrases['contractors-groups']}}</label></div>
            <div><flex-select-infinite [items]="x.groups" visibleField="name" object="contractorGroup" [withSearch]="false"></flex-select-infinite></div>
        </div>
        <div class="gf-param gf-margined5">
            <div class="gfp-title gf-margined1"><label>{{lang.phrases['contractors-phone']}} *</label></div>
            <div class="gfp-inputwrap"><input type="text" name="phone" [(ngModel)]="x.phone" [class.error]="errorPhone"></div>
            <div class="gfp-error" *ngIf="errorPhone">{{lang.phrases['contractors-error-phone']}}</div>
        </div>
        <div class="gf-sectionhead gf-margined3">{{lang.phrases['common-status']}}</div>            
        <div class="gf-param">
            <check-box [(value)]="x.banned" [title]="lang.phrases['contractors-banned']"></check-box>                
        </div>  
        <button type="submit" class="hidden"></button>         
    </form>
</div>