.ce-head {
    height: 120px; background-color: var(--color-blue-dark); position: relative; margin-bottom: 60px;
    .ce-img {
        @media (min-width:0) {left: 15px;}
        @media (min-width:1000px) {left: 25px;}
        position: absolute; bottom: -60px; width:120px; height: 120px; border-radius: 60px; background-size: cover; background-position: center center; background-color: var(--color-grey4); border:3px white solid;
        .ce-imgdash {
            position: absolute; left: 0; top: 0; width:100%; height: 100%; border-radius: 50%; background-color: rgba(0,0,0,0.5); display: flex; justify-content: center; align-items: center;
            .ceid-btn {                    
                color: white;
                &:hover {background-color: var(--color-white-transparent1);}                    
                &.img {span::before {content: "\f030";}}
                &.delete {span::before {content: "\f2ed";}}
            }
            input {display: none;}
        }
    }
    .ce-imgerror {position: absolute; left: 150px; top: 125px; font-size: 11px; color: var(--color-red);}
    .ce-close {
        @media (min-width:0) {right: 15px; top:15px;}
        @media (min-width:1000px) {right: 25px; top: 20px;}
        position: absolute; color: var(--color-grey3);;
        &:hover {background-color: var(--color-grey1);}
        span::before {content: "\f00d";}       
    }        
}
.ce-content {
    @media (min-width:0) {padding: 15px;}
    @media (min-width:1000px) {padding: 20px 25px;}        
}