<div class="action-reminders">       
    <div *ngFor="let r of reminders; let i = index;" class="ar-item">
        <div class="ar-dateanddesc">
            <div class="ar-date"><date-picker [(date)]="r.date"></date-picker></div>
            <div class="ar-desc"><input type="text" [(ngModel)]="r.description" [placeholder]="lang.phrases['actions-reminderdesc']"></div>
        </div>
        <div class="ar-btnwrap">
            <div class="roundbtn delete" (click)="onDelete(i)"><span></span></div>
        </div>
    </div>  
    <div class="ar-item new">
        <div class="ar-dateanddesc">
            <div class="ar-date"><em>{{reminders.length ? lang.phrases["common-addmore"] : lang.phrases["common-empty2"]}}</em></div>
        </div>
        <div class="ar-btnwrap">
            <div class="roundbtn create" (click)="onCreate()"><span></span></div>
        </div>        
    </div>   
</div>