<div class="notchatting-contacts" [class.active]="active">
    <div class="nc-head">
        <div class="roundbtn nch-close" (click)="onClose()"><span></span></div>
        <div class="nch-title">{{lang.phrases["chat-add"]}}</div>
    </div>
    <div class="nc-contacts" #contractorsblock (scroll)="onScroll()">
        <ng-container *ngFor="let g of alphaGroups">
            <ng-container *ngIf="g.contractors.length">
                <div class="nc-group">{{g.letter}}</div>
                <div *ngFor="let c of g.contractors" class="nc-contact" (click)="onSelect(c)">
                    <div class="nc-imgwrap">
                        <div class="nc-img" [style.background-image]="c.imgOut"><span *ngIf="!c.img">{{c.firstLetter}}</span></div>
                    </div>
                    <div class="nc-name truncate">{{c.name}}</div>            
                </div>
            </ng-container>            
        </ng-container>        
        <div *ngIf="loadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
    </div>
</div>