.notchatting-contacts {
    @media (min-width:0) {left:-100%; width:100%; border-right: none;}
    @media (min-width:1000px) {left:-400px; width:400px; border-right: 1px var(--color-grey5) solid;}
    position: absolute; top: 0; height: 100%; transition: 0.3s; z-index: 3;
    &.active {left: 0;}
    .nc-head {
        @media (min-width:0) {padding: 0 15px;}
        @media (min-width:1000px) {padding: 0 25px;}
        height: 60px; background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center;
        .nch-close {
            margin-right: 15px;             
            span::before {font-family: "fa-regular"; content: "\f30a";}
        }
        .nch-title {font-size: 16px; font-weight: 500;}
    }
    .nc-contacts {
        height: calc(100% - 60px); overflow-y: auto; background-color: white;
        .nc-group {
            @media (min-width:0) {padding: 5px 15px;}
            @media (min-width:1000px) {padding: 5px 25px;}
            background-color: var(--color-highlight1); text-transform: uppercase; border-bottom: 1px var(--color-grey5) solid;
        }
        .nc-contact {
            @media (min-width:0) {padding: 15px;}
            @media (min-width:1000px) {padding: 20px 25px;}
            border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center; cursor: pointer; background-color: white; min-width: 0 /* to make ellipsis work */;  
            &:hover {background-color: var(--color-highlight1);}
            .nc-imgwrap {
                margin-right: 15px;
                .nc-img {width:40px; height: 40px; border-radius: 20px; background-position: center center; background-size: cover; background-color: var(--color-grey4); text-transform: uppercase; display: flex; align-items: center; justify-content: center;}                    
            }
            .nc-name {font-weight: 500;}            
        }
    }
}