<div class="chatting-contacts" [class.only-desktop-f]="contractorSelected">
    <div class="cc-head">
        <div class="cch-dash">
            <div class="cch-me">
                <div class="cch-imgwrap">
                    <div *ngIf="employee.img" class="cch-img" [style.background-image]="'url(/img/employees/'+employee.img+')'"></div>
                    <div *ngIf="!employee.img" class="cch-img" [style.background-image]="'url(/assets/img/no-avatar.jpg)'"></div>
                </div>
                <div class="cch-name">{{employee.name}}</div>
            </div>
            <div class="cch-btns">
                <div class="roundbtn cch-btn add" (click)="onAdd()"><span></span></div>
            </div>
        </div>
        <form class="cch-search" (submit)="applyFilter()">
            <div class="cchs-inputwrap"><input type="text" name="search" [(ngModel)]="contractorsSearch" [placeholder]="lang.phrases['common-search']"></div>                
            <button type="submit"></button>
        </form>
    </div>
    <div class="cc-contacts">
        <ng-container *ngIf="contractorsReady">
            <div class="cc-contact" [class.active]="c.id === contractor?.id" *ngFor="let c of contractorsFiltered" routerLink="/chat/{{c.id}}">
                <div class="ccc-imgwrap">
                    <div class="ccc-img" [style.background-image]="c.imgOut"><span *ngIf="!c.img">{{c.firstLetter}}</span></div>
                </div>
                <div class="ccc-details">
                    <div class="ccc-name truncate">{{c.name}}</div>
                    <div *ngIf="c.chat_messages.length" class="ccc-msg truncate" [class.has-new]="c._hasNewMessage" [innerHTML]="getMessageText(c.chat_messages[0])"></div>
                </div>
                <div class="ccc-date" *ngIf="c.chat_messages.length">{{c.chat_messages[0].dateCreatedAt}}</div>
            </div> 
        </ng-container>
        <ng-container *ngIf="!contractorsReady">
            <div class="loading"><span></span></div>
        </ng-container>            
    </div>    
</div>