.chatting-contacts {
    @media (min-width:0) {width: 100%; border-right: none; }
    @media (min-width:1000px) {width: 400px; border-right: 1px var(--color-grey5) solid; }
    height: 100%; display: flex; flex-direction: column; 
    .cc-head {
        @media (min-width:0) {padding: 15px;}
        @media (min-width:1000px) {padding: 20px 25px;}
        background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid; 
        .cch-dash {
            display: flex; justify-content: space-between; margin-bottom: 15px;
            .cch-me {
                display: flex; align-items: center;
                .cch-imgwrap {
                    margin-right: 15px;
                    .cch-img {width:40px; height: 40px; border-radius: 20px; background-position: center center; background-size: cover;}
                }
                .cch-name {font-weight: 500;}
            }
            .cch-btns {
                display: flex;
                .cch-btn {
                    margin-left: 15px;                     
                    &.add {span::before {content: "\f055";}}
                }
            }
        }
        .cch-search {
            .cchs-inputwrap {
                height: 40px; position: relative;
                &::after {display: block; position: absolute; left: 15px; top:50%; transform: translateY(-50%); font-family: "fa-regular"; content: "\f002"; color: var(--color-grey3);}
                input[type='text'] {
                    width:100%; height: 100%; border:1px var(--color-grey4) solid; border-radius: 25px; padding: 0 15px 0 40px;
                    &:focus {border-color: var(--color-violet-medium);}
                }
            }
            button {display: none;}
        }
    }
    .cc-contacts {
        height: calc(100% - 130px); background-color: white; overflow: auto; flex: 1; 
        .cc-contact {
            @media (min-width:0) {padding: 15px;}
            @media (min-width:1000px) {padding: 20px 25px;}
            border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center; cursor: pointer; background-color: white; min-width: 0;
            &:hover {background-color: var(--color-highlight1);}
            &.active {background-color: var(--color-highlight2);}
            .ccc-imgwrap {
                margin-right: 15px;
                .ccc-img {width:40px; height: 40px; border-radius: 20px; background-position: center center; background-size: cover; background-color: var(--color-grey4); text-transform: uppercase; display: flex; align-items: center; justify-content: center;}                    
            }
            .ccc-details {
                margin-right: 15px; min-width: 0 /* to make ellipsis work */;  
                .ccc-name {font-weight: 500; line-height: 22px;}
                .ccc-msg {
                    color: var(--color-grey3);
                    &.has-new {color: var(--color-violet-light);}                    
                }
            }
            .ccc-date {
                font-size: 13px; color: var(--color-grey3); margin-left: auto;
            }
        }
    }
}