.msg-container {
    margin-bottom: 15px; display: flex; width: 100%;    
    .msg-msg {                        
        max-width: 80%; min-width: 120px; position: relative;
        .msg-content {
            background-color: var(--color-grey2); color: white; border-radius: 10px; padding: 15px; margin-bottom: 3px; position: relative;            
            &.not-task {opacity: 0.5;}
            .msg-text {
                margin-bottom: 5px;
                blockquote {margin: 0 0 5px 0; padding: 0 0 5px 0; font-style: italic; font-size: 12px; border-bottom: 1px white dotted;}
            }
            .msg-audio {margin-bottom: 5px;}
            .msg-image {
                margin-bottom: 5px;
                img {width:150px; border:1px white solid;}
            }
            .msg-file {
                margin-bottom: 5px; display: flex; align-items: center;
                a {
                    color: white; text-decoration: none; margin-right: 5px;
                    &:hover {background-color: var(--color-white-transparent1);} 
                    span::before {content: "\f0c6";}
                }
            }
            .msg-date {
                font-size: 11px;
                .msg-status {
                    margin-left: 5px;
                    &::before {font-family: "fa-regular";}
                    &.read::before {content: "\f00c";}
                    &.notread::before {content: "\f017";}
                }
            }
            .msg-tail {
                position: absolute; right: auto; left: -5px; bottom: 2px; transform: scaleX(-1); width:12px; height: 12px; 
                img {width:100%; height: 100%; filter: invert(39%) sepia(12%) saturate(980%) hue-rotate(178deg) brightness(95%) contrast(82%);}
            }
        }                        
        .msg-channel {color: var(--color-grey2); font-size: 11px; padding: 0 0 0 10px;}
        .msg-task {
            position: absolute; left: calc(100% + 5px); top:28px; width: 25px; height: 25px;
            span::before {content: "\f456"; font-size: 14px;}            
            &.not-task {span::before {content: "\f00d"; color: var(--color-red);}}
            &.has-actions {
                pointer-events: none;
                span::before {content: "\f00c"; color: var(--color-green);}                
            }            
        }
    }
    &.answer {
        justify-content: flex-end;
        .msg-msg {
            .msg-content {
                background-color: var(--color-blue-light);                                
                .msg-date {text-align: right;}
                .msg-tail {
                    right: -5px; left: auto; transform: none;
                    img {filter: invert(40%) sepia(98%) saturate(3101%) hue-rotate(209deg) brightness(99%) contrast(90%);}
                }
            }                            
            .msg-channel {text-align: right; padding: 0 10px 0 0;}
        }
    }
    &.in-action {
        .msg-msg {
            .msg-content {
                background-color: var(--color-highlight2); color: black;
                .msg-tail {
                    img {filter: invert(96%) sepia(25%) saturate(6076%) hue-rotate(179deg) brightness(110%) contrast(99%);}
                }
            }
        }
    }
}