<div class="msg-container" [class.answer]="message.is_answer" [class.in-action]="inAction">
    <div class="msg-msg">                                                         
        <div class="msg-content" [class.not-task]="!message.is_task">                        
            <ng-container *ngIf="message.type === 'text'">
                <div class="msg-text" [innerHTML]="message.text"></div>            
            </ng-container>
            <ng-container *ngIf="message.type === 'audio'">
                <div class="msg-audio"><audio-player src="{{storageUrl}}/{{message.fileurl}}"></audio-player></div>                        
            </ng-container>
            <ng-container *ngIf="message.type === 'file'">
                <div class="msg-file">                
                    <a class="roundbtn" href="/download?fileurl={{storageUrl}}/{{message.fileurl}}" download="{{message.filename}}"><span></span></a>
                    <span>{{message.filename}}</span>                
                </div>            
            </ng-container>
            <ng-container *ngIf="message.type === 'image'">
                <div class="msg-image"><a target="_blank" href="{{storageUrl}}/{{message.fileurl}}"><img src="{{storageUrl}}/{{message.fileurl}}"></a></div>            
                <div *ngIf="message.text" class="msg-text" [innerHTML]="message.text"></div>            
            </ng-container>            
            <div class="msg-date">
                <span>{{message.datetimeCreatedAt}}</span>
                <span class="msg-status" *ngIf="message.is_answer" [class.read]="message.is_read" [class.notread]="!message.is_read"></span>
            </div>
            <div class="msg-tail"><img src="/assets/img/hvostik.svg"></div>
        </div>                            
        <div class="msg-channel">{{message.channel}}</div>
        <ng-container *ngIf="buttonsEnabled">
            <message-menubtn *ngIf="!message.is_answer" [is_task]="message.is_task" (reply)="onReply()" (actions)="onActions()"></message-menubtn>  
            <div *ngIf="!message.is_answer" class="msg-task roundbtn" [class.not-task]="!message.is_task" [class.has-actions]="message.actions.length" (click)="onTaskBtnClick()"><span></span></div>
        </ng-container>        
    </div>                    
</div>