<div class="generic-form">
    <div class="gf-sectionhead gf-margined3">{{lang.phrases['deals-main']}}</div>
    <div class="gf-param gf-margined3">
        <div class="gfp-title gf-margined1"><label>{{lang.phrases['common-createdat']}}</label></div>
        <div class="gfp-inputwrap"><input type="text" disabled [value]="deal.id ? deal.formattedCreatedAt : lang.phrases['deals-new']"></div>
    </div>
    <div class="gf-param gf-margined3">
        <div class="gfp-title gf-margined1"><label>{{lang.phrases['deals-name']}}</label></div>
        <div class="gfp-inputwrap"><input type="text" [(ngModel)]="deal.name"></div>                                    
    </div>
    <div class="gf-param gf-margined3">
        <div class="gfp-title gf-margined1"><label>{{lang.phrases['deals-desc']}}</label></div>
        <div class="gfp-inputwrap ta"><textarea [(ngModel)]="deal.description"></textarea></div>                                    
    </div>        
    <div class="gf-sectionhead gf-margined3">{{lang.phrases['deals-contractors']}}</div>
    <div class="gf-param gf-margined3">
        <div class="gfp-title gf-margined1"><label [class.error]="errorContact">{{lang.phrases['deals-contact']}} *</label></div>
        <in-form-object [obj]="deal.contact" visibleField="name" [editable]="true" [creatable]="canChangeContact" [deletable]="canChangeContact" [selectable]="canChangeContact" (deleteObject)="deal.contact = null" (selectObject)="onSelectContractor('contact')" (editObject)="onEditContractor('contact')" (createObject)="onCreateContractor('contact')"></in-form-object>        
    </div>    
    <div class="gf-param gf-margined3">
        <div class="gfp-title gf-margined1"><label>{{lang.phrases['deals-client']}}</label></div>
        <in-form-object [obj]="deal.client" visibleField="name" [editable]="true" [creatable]="true" [deletable]="true" [selectable]="true" (deleteObject)="deal.client = null" (selectObject)="onSelectContractor('client')" (editObject)="onEditContractor('client')" (createObject)="onCreateContractor('client')"></in-form-object>        
    </div>    
    <div class="gf-param gf-margined5">
        <div class="gfp-title gf-margined1"><label>{{lang.phrases['deals-partner']}}</label></div>
        <in-form-object [obj]="deal.partner" visibleField="name" [editable]="true" [creatable]="true" [deletable]="true" [selectable]="true" (deleteObject)="deal.partner = null" (selectObject)="onSelectContractor('partner')" (editObject)="onEditContractor('partner')" (createObject)="onCreateContractor('partner')"></in-form-object>        
    </div> 
    <div class="gf-sectionhead gf-margined3">{{lang.phrases['deals-dates']}}</div>
    <div class="gf-param gf-margined5">        
        <deal-dates [dates]="deal.dates"></deal-dates>
    </div>    
    <div class="gf-sectionhead gf-margined3">{{lang.phrases['common-status']}}</div>
    <div class="gf-param">
        <check-box [(value)]="deal.closed" [title]="lang.phrases['deals-closed']"></check-box>                               
    </div>    
</div>

<win-contractors [(active)]="contractorsListActive" (selected)="deal[contractorSelectFor] = $event"></win-contractors>
<win-contractor-edit [(active)]="contractorEditActive" [contractor]="contractorEditing" (saved)="deal[contractorEditFor] = $event"></win-contractor-edit>