<div class="gfp-objectwrap">
    <div class="gfpo-container">
        <div class="gfpo-object" *ngIf="obj">
            <div class="gfpo-title" [innerHTML]="obj[visibleField]"></div>
            <div class="gfpo-innerbtns">
                <div class="roundbtn edit" *ngIf="editable" (click)="onEdit()"><img src="/assets/img/pen.svg"></div>                        
            </div>                    
        </div>
        <em *ngIf="!obj">{{lang.phrases["common-empty2"]}}</em>
    </div>
    <div class="gfpo-btns">
        <div *ngIf="selectable" class="gfpo-btn roundbtn search" (click)="onSelect()"><span></span></div>
        <div *ngIf="creatable" class="gfpo-btn roundbtn create" (click)="onCreate()"><span></span></div>
        <div *ngIf="deletable && obj" class="gfpo-btn roundbtn delete" (click)="onDelete()"><span></span></div>
    </div>            
</div> 