.flex-radio {
    display: flex; flex-wrap: wrap; user-select: none;
    .fr-item {
        background-color: white; cursor: pointer; height: 40px; display: flex; align-items: center; padding:0 15px; margin: 0 10px 10px 0; transition: 0.3s; border-radius: 20px;
        &.active {background-color: var(--color-highlight1) !important; pointer-events: none;}
        &:hover {background-color: var(--color-highlight2);}
    }
}