* {box-sizing: border-box; outline: none; overflow-anchor: none; overscroll-behavior: none; font-family: "inter", Helvetica, sans-serif;}		

a {
	cursor: pointer; text-decoration: none; color: var(--color-violet-light);
	&:hover {text-decoration: underline;}
}

p {margin: 0 0 15px 0;}	

section {margin: 0 0 30px 0;}

input, textarea, select {
	@media (min-width:0) {font-size: 16px;}
	@media (min-width:1000px) {font-size: 14px;}	
	background: white;		
}

input[type='text'], input[type='email'], input[type='password'] {
	border:1px var(--color-grey4) solid; border-radius: 5px; padding: 0 15px;
	&:focus {border-color: var(--color-violet-medium);}
	&.error {border-color: var(--color-red);}
	&:disabled {background-color: var(--color-highlight1);}
}

.selectwrap {
	position: relative; display: inline-block; height: 40px;
	select {width:100%; height: 100%; border:1px var(--color-grey4) solid; border-radius: 5px; padding: 0 30px 0 15px; background: white; appearance: none;}
	&::after {position: absolute; right: 15px; top:50%; transform: translateY(-50%); pointer-events: none; font-family: "fa-regular"; content: "\f107"; font-size: 14px; margin-top: 2px;}
}


textarea {
	border:1px var(--color-grey4) solid; border-radius: 5px; padding: 15px; 
	&:focus {border-color: var(--color-violet-medium);}
	&.error {border-color: var(--color-red);}
}

button, select {user-select: none;}		

button {
	background: var(--color-violet-medium); color: white; transition: 0.3s; cursor: pointer; border:none; font-size: 14px;                 
	&:hover {background: var(--color-violet-dark);}
	&:disabled {background: var(--color-grey4); color: white; pointer-events: none;}
	&.hidden {display: none;}			
	&.neutral {
		background: transparent; color: inherit;
		&:hover {background: var(--color-grey5);}
	}
	&.danger {
		background: transparent; color: var(--color-red);
		&:hover {background: var(--color-red-transparent);}
	}			
    span {
        display: flex; align-items: center; justify-content: center;
        &::before {font-family: "fa-regular"; margin-right: 10px; font-size: 16px;}
    }
	&.compact {
		font-size: 12px;
		span::before {margin-right: 5px; font-size: 14px;}
	} 
	&.login {span::before {content: "\e022";}}
    &.code {span::before {content: "\f3ed";}}
    &.recover {span::before {content: "\f084";}}
	&.delete {span::before {content: "\f2ed";}}
	&.cancel {span::before {content: "\f0e2";}}
	&.save {span::before {content: "\f0c7";}}			
	&.create {span::before {content: "\f067";}}			
	&.action {span::before {content: "\f0e7";}}		
	&.done {span::before {content: "\f00c";}}					
	&.select {span::before {content: "\f245";}}	
    &.busy {
        background: var(--color-grey2); color: white; pointer-events: none;
        span::before {content: "\f3f4"; animation: rotation 1s linear 0s infinite;}
    }			
}	

.error {color: var(--color-red) !important;}

.roundbtn {
	width:40px; height: 40px; border-radius: 20px; color: var(--color-grey2); cursor: pointer; display: flex; align-items: center; justify-content: center; transition: 0.3s; text-decoration: none;
	&:hover {background-color: var(--color-grey5); text-decoration: none;}
	span::before {font-family: "fa-regular"; font-size: 20px;}
	&.disabled {background: var(--color-grey4) !important; color: white !important; pointer-events: none;}
	&.violet {
		background-color: var(--color-violet-medium); color: white;
		&:hover {background-color: var(--color-violet-dark);}
	}
	&.delete, &.close {span::before {content: "\f00d";}}
	&.create {span::before {content: "\f067";}}
	&.search {span::before {content: "\f002";}}     			               
	&.menu {span::before {content: "\f0c9";}}     			               
	&.logout {span::before {content: "\e023";}}     			               
}

.loading {
	animation: appear 2s ease 0s 1; padding: 5px;
	&.abs {position: absolute; left: 0; top: 0;}
	span::before {font-family: "fa-regular"; display: inline-block; margin-right: 10px; content: "\f3f4"; animation: rotation 1s linear 0s infinite;}
}

.loading-ovl {
	position: absolute; z-index: 1000; left: 0; top: 0; width: 0; height: 100%; background-color: var(--color-white-transparent2); opacity: 0; transition: opacity 0.3s ease 0s, width 0s none 0.3s; display: flex; justify-content: center; align-items: center;			
	&.active {width: 100%; opacity: 1; transition: opacity 0.3s ease 0.001s, width 0s;}
	&.rounded {border-radius: 15px;}
	span {
		font-size: 60px; color: rgba(220,220,220,0.3); 
		&::before {font-family: "fa-regular";  content: "\f251"; }
	}			
}