.wrap {
    display: flex; width:100%; height: 100%; overflow: hidden;            
    main {
        flex: 1; height: 100%; overflow: hidden;                
        .win {
            height: 100%; overflow: auto; position: relative;
            &.padded {height: calc(100% - 60px);}            
        }
    }
}

.page-head {
    @media (min-width:0) {padding: 15px;}
    @media (min-width:1000px) {padding: 20px 25px;}						
    background-color: white; border-bottom: 1px var(--color-grey5) solid;
    .ph-head1 {
        display: flex; align-items: center;	
        .phh1-txt {font-size: 32px; font-weight: bold;}
        .roundbtn {
            margin-right: 5px;
            span {font-size: 20px;}            
        }
    }
    .ph-head2 {
        font-weight: 500; color: var(--color-grey2);
        &.margined {margin-bottom: 15px;}
    }	
    .ph-dash {
        display: flex; justify-content: space-between;
        .ph-search {
            width: 400px;
            .phs-inputwrap {
                height: 40px; position: relative;
                &::after {display: block; position: absolute; left: 15px; top:50%; transform: translateY(-50%); font-family: "fa-regular"; content: "\f002"; color: var(--color-grey3);}
                input[type='text'] {width:100%; height: 100%; border-radius: 25px; padding: 0 15px 0 40px;}
            }
            button {display: none;}
        }
        .ph-btnwrap {
            height: 40px; margin-left: 15px;
            button {height: 100%; border-radius: 25px; padding: 0 15px;}
        }
    }											
}

.page-text {
    @media (min-width:0) {padding: 20px 15px;}
    @media (min-width:1000px) {padding: 30px 25px;}								
}

.two-panels {
    height: 100%; width: 100%; overflow: hidden; display: flex; position: relative; 
    .tp-left {width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; transition: 0.3s; background-color: white;}
    .tp-right {
        @media (min-width:0) {position: absolute; width:100%; }
        @media (min-width:1000px) {position: relative; width: 0;}									
        height: 100%; overflow-y: auto; overflow-x: hidden; transition: 0.3s; left: 100%; background-color: white; border-left: 1px var(--color-grey5) solid;
    }
    &.splitted {
        .tp-left {
            @media (min-width:0) {width: 100%;}
            @media (min-width:1000px) {width: 50%;}									
        }
        .tp-right {
            @media (min-width:0) {width: 100%; }
            @media (min-width:1000px) {width: 50%;}									
            left: 0;
        }
    }
}

.wsidebar2 {
    height: 100%; width: 100%; overflow: hidden; display: flex; position: relative; 
    .wsb2-sidebar {
        width:0; height: 100%; transition: 0.3s;
        &.active {
            @media (min-width:0) {width:0;}
            @media (min-width:1000px) {width:240px;}    
            .wsb2-sb-content {left: 0;}  
            .wsb2-sb-overlay {
                @media (min-width:0) {display: block;}
                @media (min-width:1000px) {display: none;}        
            }        
        }
        .wsb2-sb-content {
            @media (min-width:0) {position: fixed; top:60px; height: calc(100% - 60px);}
            @media (min-width:1000px) {position: absolute; top:0; height: 100%;}
            z-index: 11; width:240px; left: -240px; overflow-y: auto; overflow-x: hidden; background-color: white; border-right: 1px var(--color-grey5) solid; transition: 0.3s; 
        }
        .wsb2-sb-overlay {position: fixed; left: 0; top: 60px; width: 100%; height: calc(100% - 60px); background-color: rgba(0,0,0,0.5); display: none; z-index: 10;}
    }
    .wsb2-main {
        flex:1; height: 100%; overflow-y: auto; overflow-x: hidden;
    }
}

.generic-edit {
    position: relative;  
    .ge-head {
        @media (min-width:0) {padding: 15px;}
        @media (min-width:1000px) {padding: 20px 25px;}       
        display: flex; justify-content: space-between; align-items: center;
        .ge-title {
            font-size: 18px; font-weight: bold;
            span::before {font-family: "fa-regular"; margin-right: 10px;}            
            &.deal {span::before {content: "\f2b5";}}
            &.in {span::before {content: "\f063";}}
            &.out {span::before {content: "\f062";}}
        }
    }   
    .ge-main {
        @media (min-width:0) {padding: 0 15px 30px 15px ;}
        @media (min-width:1000px) {padding: 0 25px 30px 25px;}       
    }          
    .ge-foot {
        @media (min-width:0) {padding: 30px 15px;}
        @media (min-width:1000px) {padding: 30px 25px;}       
        border-top: 1px var(--color-grey5) solid; display: flex; justify-content: space-between;
        button {height: 40px; padding: 0 15px; border-radius: 20px;}
        .gef-left {}
        .gef-right {
            display: flex; flex-wrap: wrap; flex-direction: row-reverse;
            button {margin: 0 0 10px 10px;}
        }
    }    
}
