.contractors-list {
    .cl-group {
        @media (min-width:0) {padding: 5px 15px;}
        @media (min-width:1000px) {padding: 5px 25px;}
        background-color: var(--color-highlight1); text-transform: uppercase; border-bottom: 1px var(--color-grey5) solid;
    }
    .cl-contact {
        @media (min-width:0) {padding: 15px;}
        @media (min-width:1000px) {padding: 20px 25px;}
        border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center; cursor: pointer; background-color: white; min-width: 0 /* to make ellipsis work */;  
        &:last-child {border-bottom:none;}
        &:hover {background-color: var(--color-highlight1);}
        &.active {background-color: var(--color-highlight2);}
        .cl-imgwrap {
            margin-right: 15px;
            .cl-img {width:40px; height: 40px; border-radius: 20px; background-position: center center; background-size: cover; background-color: var(--color-grey4); text-transform: uppercase; display: flex; align-items: center; justify-content: center;}                    
        }
        .cl-name {font-weight: 500;}            
    }
}