.deals-list {
    .dl-deal {
        @media (min-width:0) {padding: 0 15px;}
        @media (min-width:1000px) {padding: 0 25px;}
        height: 60px; display: flex; align-items: center; justify-content: space-between; cursor: pointer; background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid;          
        &:last-child {border-bottom: none;}      
        &:hover {background-color: var(--color-highlight1);}
        &.active {background-color: var(--color-highlight2);}
        &.wo-actions {
            background-color: white; border-top: 1px var(--color-grey5) solid; border-bottom: none;
            &:hover {background-color: var(--color-highlight1);}
            &.active {background-color: var(--color-highlight2);}            
        }
        .dld-name {
            @media (min-width:0) {font-size: 14px;}
            @media (min-width:1000px) {font-size: 16px;}
            font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 0;
        }
        .dld-date {
            white-space: nowrap; margin-left: 15px; font-size: 12px;
            &.closed::before {font-family: "fa-regular"; margin-right: 15px; content:"\f023";}
        }
    }
    .dl-action {
        @media (min-width:0) {padding: 0 15px;}
        @media (min-width:1000px) {padding: 0 25px;}
        height: 60px; display: flex; align-items: center; justify-content: space-between; cursor: pointer; min-width: 0; background-color: white; border-bottom: 1px var(--color-grey5) solid;
        &:last-child {border-bottom: none;}
        &:hover {background-color: var(--color-highlight1);}
        &.active {background-color: var(--color-highlight2);}
        .dla-name {
            white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 0;
            span::before {font-family: "fa-regular"; margin-right: 15px;}
            &.in {span::before {content: "\f063";}}
            &.out {span::before {content: "\f062";}}
        }
        .dla-date {white-space: nowrap; margin-left: 15px; font-size: 12px;}
    }
}