.generic-form {    
    .gf-margined1 {margin-bottom: 5px;}
    .gf-margined2 {margin-bottom: 10px;}
    .gf-margined3 {margin-bottom: 15px;}
    .gf-margined4 {margin-bottom: 20px;}
    .gf-margined5 {margin-bottom: 30px;}
    .gf-margined6 {margin-bottom: 40px;}
    .gf-logo {        
        img {height: 40px;}
    }
    .gf-head {        
        .gf-head1 {font-size: 32px; font-weight: bold;}
        .gf-head2 {font-size: 14px; line-height: 22px; font-weight: 500;}
    }
    .gf-sectionhead {font-size: 14px; font-weight: 600;}
    .gf-2cols {
        display: flex; justify-content: space-between;
        .gf-col {width: calc(50% - 10px);}
    }
    .gf-param {
        .gfp-title {display: flex; justify-content: space-between;}
        .gfp-inputwrap {
            height: 40px; line-height: 40px;
            &.ta {height: 80px;} // for textarea
            input[type='text'], input[type='email'], input[type='password'] {width:100%; height: 100%;}
            button {width:100%; height: 100%; border-radius: 25px;}
            textarea {
                width:100%; height: 100%; resize: none; -ms-overflow-style: none; scrollbar-width: none; 
                &::-webkit-scrollbar {display: none;}
            }
        }
        .gfp-error {
            color: var(--color-red); font-size: 11px; margin-top: 2px;
            &.centered {text-align: center;}
        }
        .gfp-objectwrap {            
            @media (min-width:0) {display: block;}
            @media (min-width:1000px) {display: flex;}
            align-items: center; width:100%; overflow: hidden;
            .gfpo-container {
                @media (min-width:0) {margin: 0 0 15px 0;}
                @media (min-width:1000px) {margin: 0;}
                flex: 1;
                .gfpo-object {
                    height: 40px; display: inline-flex; align-items: center; background-color: var(--color-highlight1); padding: 0 15px; border-radius: 20px; color: var(--color-grey2);
                    .gfpo-title {white-space: nowrap;}
                    .gfpo-innerbtns {
                        display: flex;
                        .roundbtn {
                            width: 20px; height: 20px; border-radius: 10px; background-color: var(--color-grey3); color: white; margin-left: 5px; 
                            &:first-child {margin-left: 10px;}
                            &:hover {background-color: var(--color-grey2);}
                            img {height: 11px; display: block;}
                        }                        
                    }
                }
            }
            .gfpo-btns {
                display: flex;
                .gfpo-btn {
                    margin-left: 10px;
                    &:first-child {margin-left: 0;}                    
                }
            }
        }
    }
}