.reply-to {
    @media (min-width: 0) {padding: 0 15px;}
    @media (min-width: 1000px) {padding: 0 25px;}
    height: 60px; background-color: var(--color-bg-light); border-top: 1px var(--color-grey5) solid; display: flex; align-items: center;       
    .rt-logo {
        width: 40px; height: 40px; margin-right: 10px; display: flex; justify-content: center; align-items: center; color: var(--color-grey2);
        span::before {font-family: "fa-regular"; font-size: 20px; content: "\f3e5";}
    }
    .rt-content {
        height: 40px; width:calc(100% - 100px);
        .rt-name {overflow:hidden; text-overflow: ellipsis; min-width: 0; white-space: nowrap; color: var(--color-violet-light); font-weight: 500; line-height: 20px;}
        .rt-text {overflow:hidden; text-overflow: ellipsis; min-width: 0; white-space: nowrap; line-height: 20px;}        
    }
    .rt-delete {
        margin-left: 10px;         
        span::before {content: "\f00d";}
    }
}