<div class="reply-to">
    <div class="rt-logo"><span></span></div>
    <div class="rt-content">
        <div class="rt-name" [innerHTML]="quote.name"></div>
        <div class="rt-text" [innerHTML]="text"></div>
    </div>
    <div class="roundbtn rt-delete" (click)="onDelete()"><span></span></div>
</div>