<div class="audio-player">
    <div class="ap-btn roundbtn" [class.active]="canPlay" [class.pause]="playing" [class.play]="!playing" (click)="playOrPause()"><span></span></div>
    <div class="ap-time">{{strCurrentTime}} / {{strDuration}}</div>
</div>