.audio-player {
    display: flex; align-items: center;
    .ap-btn {
        margin-right: 5px; color: white; opacity: 0.2; pointer-events: none;
        &:hover {background-color: var(--color-white-transparent1);}        
        &.active {opacity: 1; pointer-events: inherit;}
        &.play {span::before {content: "\f04b"}}
        &.pause {span::before {content: "\f04c"}}
    }
    .ap-time {font-size: 12px;}
}