.flex-select {
    display: flex; flex-wrap: wrap; user-select: none;
    .fs-item {
        background-color: var(--color-highlight1); height: 40px; display: flex; align-items: center; padding:0 15px; margin: 0 10px 10px 0; border-radius: 20px; color: var(--color-grey2); 
        &.btn {
            cursor: pointer;
            span::before {font-family: "fa-regular"; margin-right: 5px; content: "\f044";}
            &:hover {background-color: var(--color-highlight2);}
        }       
    }
    .fs-menu {
        display: none; position: fixed; z-index: 1000; background-color: white; border-radius: 5px; box-shadow: var(--shadow-popup); width: 230px; overflow: hidden; user-select: none;        
        &.active {display: block;}
        .fsm-search {
            height: 60px; padding: 0 15px; display: flex; align-items: center; border-bottom: 1px var(--color-grey5) solid;
            .fsm-inputwrap {
                height: 40px; width:100%; position: relative; padding-left: 25px;
                &::before {display: inline-block; font-family: "fa-regular"; content: "\f002"; position: absolute; left: 0; top: 50%; transform: translateY(-50%); color: var(--color-grey2);}
                input {width: 100%; height: 100%; padding: 0; border: none;}
            }
            button {display: none;}
        }
        .fsm-sitems {
            padding: 5px 0; height: 210px; overflow-y: scroll;
            ul {
                margin: 0; padding: 0; list-style: none;
                li {
                    height: 40px; padding: 0 15px; display: flex; align-items: center; cursor: pointer;
                    &:hover {background-color: var(--color-highlight1);}
                    .fsm-mark {
                        width:15px; height: 15px; border-radius: 2px; border:1px var(--color-grey4) solid; position: relative; margin-right: 15px;
                        span {
                            display: none; position: absolute; left: 50%; top:50%; transform: translate(-50%, calc(-50% - 2px)); color: white;
                            &::before {font-family: "fa-regular"; content: "\f00c"; font-size: 10px;}
                        }  
                        &.active {
                            background-color: var(--color-violet-medium); border-color: var(--color-violet-medium);
                            span {display: inline-block;}
                        }
                    }
                    .fsm-title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 13px;}
                    .fsm-create {
                        width: 15px; height: 15px; margin-right: 15px; display: flex; justify-content: center;
                        span::before {font-family: "fa-regular"; content: "\f055"; color: var(--color-grey2);}
                    }
                }
            }            
        }
    }
}