<div class="deal-dates">       
    <div *ngFor="let d of dates; let i = index;" class="dd-item">
        <div class="dd-dateanddesc">
            <div class="dd-date"><date-picker [(date)]="d.date"></date-picker></div>
            <div class="dd-desc"><input type="text" [(ngModel)]="d.description" [placeholder]="lang.phrases['deals-datedesc']"></div>
        </div>
        <div class="dd-btnwrap">
            <div class="roundbtn delete" (click)="onDelete(i)"><span></span></div>
        </div>
    </div>  
    <div class="dd-item new">
        <div class="dd-dateanddesc">
            <div class="dd-date"><em>{{dates.length ? lang.phrases["common-addmore"] : lang.phrases["common-empty2"]}}</em></div>
        </div>
        <div class="dd-btnwrap">
            <div class="roundbtn create" (click)="onCreate()"><span></span></div>
        </div>        
    </div>   
</div>