.deal-dates {
    .dd-item {
        @media (min-width:0) {margin-bottom: 10px; }
        @media (min-width:1000px) {margin-bottom: 5px;}      
        display: flex;         
        &:last-child {margin-bottom: 0;}
        .dd-dateanddesc {
            @media (min-width:0) {display: block;}
            @media (min-width:1000px) {display: flex;}   
            flex: 1;
            .dd-date {
                @media (min-width:0) {width: 100%; margin: 0 0 5px 0;}
                @media (min-width:1000px) {width: 50%; margin: 0;}                      
                height: 40px; display: flex; align-items: center;
            }
            .dd-desc {
                @media (min-width:0) {width: 100%; padding-left: 0;}
                @media (min-width:1000px) {width: 50%; padding-left: 15px;}                      
                input[type='text'] {width: 100%; height: 40px;}
            }
        }     
        .dd-btnwrap {width: 55px; padding-left: 15px;}
    }    
}