<div class="wsidebar2">
    <div class="wsb2-sidebar" [class.active]="sidebarActive">
        <div class="wsb2-sb-overlay" (click)="sidebarActive = false"></div>
        <div class="wsb2-sb-content">
            [sidebar]
        </div>
    </div>
    <div class="wsb2-main">
        <div class="two-panels" [class.splitted]="splitted">
            <div class="tp-left" #dealsblock (scroll)="dealsOnScroll()">
                <div class="page-head">            
                    <div class="ph-head1">
                        <div class="roundbtn menu" (click)="sidebarActive = !sidebarActive"><span></span></div>
                        <span class="phh1-txt">{{lang.phrases["deals-title"]}}</span>
                    </div>
                    <div class="ph-head2 margined">{{lang.phrases["common-length"]}}: {{dealsLength}}</div>
                    <div class="ph-dash">
                        <form class="ph-search" (submit)="initDeals()">
                            <div class="phs-inputwrap"><input type="text" name="search" [(ngModel)]="dealsSearch" [placeholder]="lang.phrases['common-search']"></div>
                            <button type="submit"></button>
                        </form>
                        <div class="ph-btnwrap">
                            <button type="button" class="create" routerLink="/deals/create"><span>{{lang.phrases["common-create"]}}</span></button>
                        </div>
                    </div>
                </div>
                <div class="deals-list">
                    <ng-container *ngIf="dealsReady">
                        <ng-container *ngFor="let d of deals">
                            <div class="dl-deal" [class.active]="d.id === deal?.id && !action" routerLink="/deals/edit/{{d.id}}">
                                <div class="dld-name">{{d.id}} | {{d.formattedCreatedAtShort}}<span *ngIf="d.name"> | {{d.name}}</span><span *ngIf="d.client"> | {{d.client?.name}}</span></div>
                                <div class="dld-date" [class.closed]="d.closed">{{d.formattedCreatedAt}}</div>
                            </div>
                            <div *ngFor="let a of d.actions" class="dl-action" [class.active]="a.id === action?.id" routerLink="/deals/edit/{{d.id}}/{{a.id}}">
                                <div class="dla-name {{a.employeeAction.direction}}"><span>{{a.employeeAction.name}}</span></div>
                                <div class="dla-date">{{a.formattedCreatedAt}}</div>
                            </div>
                        </ng-container>
                        <div *ngIf="dealsLoadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
                    </ng-container>
                    <ng-container *ngIf="!dealsReady">
                        <div class="loading"><span></span></div>
                    </ng-container>
                </div>
            </div>
            <div class="tp-right">
                <deal-edit *ngIf="(mode === 'edit' || mode === 'create') && deal && !action" [deal]="deal" [loading]="dealLoading" (save)="dealOnSave($event)" (delete)="dealOnDelete()"></deal-edit>
                <action-edit *ngIf="mode === 'edit' && action" [action]="action" [actionStatuses]="actionStatuses" [loading]="actionLoading" (save)="actionOnSave($event)"></action-edit>
            </div>    
        </div>        
    </div>
</div>

<div class="loading-ovl" [class.active]="dealLoading || actionLoading"><span></span></div>