<div class="generic-edit" *ngIf="temp">    
    <div class="ge-head">
        <div class="ge-title deal"><span>{{lang.phrases["deals-deal"]}} #{{temp.id}}</span></div>
        <div class="roundbtn close" routerLink="/deals"><span></span></div>
    </div>
    <div class="ge-main">
        <the-deal [deal]="temp" [canChangeContact]="!temp.id" [errorContact]="errorContact"></the-deal> 
    </div>    
    <div class="ge-foot">
        <div class="gef-left">
            <button *ngIf="temp.id" type="button" class="danger delete" (click)="onDelete()"><span>{{lang.phrases['common-delete']}}</span></button>
        </div>
        <div class="gef-right">
            <button type="button" class="save" [class.busy]="loading" (click)="onSave()"><span>{{lang.phrases['common-save']}}</span></button>
            <button *ngIf="temp.id" type="button" class="neutral cancel" routerLink="/deals"><span>{{lang.phrases['common-cancel']}}</span></button>            
        </div>
    </div>    
</div>