// win
.pw-overlay.contractor-edit {z-index: 110;}
.pw-container.contractor-edit {
    z-index: 111;
    .pw-win {
        @media (min-width:0) {width: 100%;}
        @media (min-width:1000px) {width: 600px;}    
        margin: auto;
        .pw-head {
            .pw-title::before {content: "\f0c0";}
        }        
    }
}
