<div class="pw-overlay contractor-edit" [class.active]="active"></div>
<div class="pw-container contractor-edit" [class.active]="active">
    <div class="pw-win" *ngIf="temp">
        <div class="pw-head">
            <div class="pw-title">{{temp.id ? lang.phrases["contractors-edit-title"] : lang.phrases["contractors-create-title"]}}</div>
            <div class="pw-close roundbtn" (click)="onClose()"><span></span></div>
        </div>
        <div class="pw-main"> 
            <the-contractor [x]="temp" [errorName]="errorName" [errorPhone]="errorPhone" [closable]="false" (save)="onSave()"></the-contractor>        
        </div>
        <div class="pw-foot">
            <button type="button" class="neutral cancel" (click)="onClose()"><span>{{lang.phrases['common-cancel']}}</span></button>
            <button type="button" class="save" (click)="onSave()" [class.busy]="loading"><span>{{lang.phrases['common-save']}}</span></button>
        </div>  
        <div class="loading-ovl rounded" [class.active]="loading"><span></span></div> 
    </div>
</div>