.menubtn {
    position: relative;
    .menubtn-btn {        
        span::before {content: "\f142";}                                
    }
    .menubtn-menu {
        display: none; position: absolute; right: 0; top:calc(100% + 2px); background-color: white; border-radius: 5px; box-shadow: var(--shadow-popup); width: 250px; overflow: hidden; padding: 5px 0; user-select: none;        
        &.active {display: block;}
        ul {
            list-style: none; margin: 0; padding: 0;
            li {
                height: 40px; line-height: 40px; padding: 0 15px; cursor: pointer; text-align: left; white-space: nowrap;
                &:hover {background-color: var(--color-highlight1);}
                span {
                    white-space: nowrap;
                    &::before {font-family: "fa-regular"; margin-right: 15px;}
                }
                &.contact {span::before {content: "\f2bd";}}
                &.delete {span::before {content: "\f2ed";}}
                &.reply {span::before {content: "\f3e5";}}
                &.actions {span::before {content: "\f0ae";}}
            }
        }
    }        
}
