<div class="check-box">
    <div class="roundbtn cb-btn" [class.active]="value" (click)="onClick()">
        <div class="cb-mark"><span></span></div>
    </div>
    <div class="cb-title" [innerHTML]="title"></div>
</div>