.aw-file {
    @media (min-width:0) {margin-bottom: 10px;}
    @media (min-width:1000px) {margin-bottom: 5px;}      
    display: flex;     
    .awf-nameanddesc {
        @media (min-width:0) {display: block;}
        @media (min-width:1000px) {display: flex;}      
        flex:1; min-width: 0;                        
        .awf-name {
            @media (min-width:0) {width: 100%; height: auto; margin: 0 0 5px 0; display: block;}
            @media (min-width:1000px) {width: 50%; height: 40px; margin: 0; display: flex;}      
            align-items: center;                             
            a, span {
                display: block; color: var(--color-grey2); text-decoration: none; transition: 0.3s; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; 
                &::before {font-family: "fa-regular"; content: "\f0c6"; margin-right: 10px;}
            }
            a:hover {color: var(--color-violet-light);}
        }
        .awf-desc {
            @media (min-width:0) {width: 100%; padding-left: 0;}
            @media (min-width:1000px) {width: 50%; padding-left: 15px;}      
            height: 40px; overflow: hidden;
            input[type='text'] {width: 100%; height: 100%;}
        }
    }
    .awf-btnwrap {                        
        width:55px; padding-left: 15px; display: flex; flex-direction: column; justify-content: flex-end;
        .awf-delete {span::before {content: "\f00d";}}
        .awf-download {span::before {content: "\f019";}}
    }
}
