<div class="aw-file">
    <div class="awf-nameanddesc">
        <div class="awf-name">
            <a *ngIf="url" href="/download?fileurl={{storageUrl}}/{{url}}" [download]="name">{{name}}</a>
            <span *ngIf="!url">{{name}}</span>
        </div>
        <div class="awf-desc"><input type="text" [(ngModel)]="description" (ngModelChange)="onDescriptionChange()" [placeholder]="lang.phrases['actions-filedesc']"></div>
    </div>    
    <div class="awf-btnwrap">
        <a *ngIf="url" class="awf-download roundbtn" href="/download?fileurl={{storageUrl}}/{{url}}" [download]="name"><span></span></a>
        <div *ngIf="!url" class="awf-delete roundbtn" (click)="onDelete()"><span></span></div>
    </div>                            
</div>
