// win
.pw-overlay.contractors {z-index: 110;}
.pw-container.contractors {
    z-index: 111;
    .pw-win {
        @media (min-width:0) {width: 100%;}
        @media (min-width:1000px) {width: 600px;}    
        margin: 0 auto; height: 100%;
        .pw-head {
            .pw-title::before {content: "\f0c0";}
        }
        .pw-main {
            @media (min-width:0) {height: calc(100% - 140px);}
            @media (min-width:1000px) {height: calc(100% - 160px);}            
        }
    }
}

// inner content
.contractors-search {
    @media (min-width:0) {padding: 0 15px;}
    @media (min-width:1000px) {padding: 0 25px;}
    height: 60px;
    .cs-inputwrap {
        @media (min-width:0) {width:100%;}
        @media (min-width:1000px) {width:calc(50% - 10px);}
        height: 40px; position: relative;
        &::after {display: block; position: absolute; left: 15px; top:50%; transform: translateY(-50%); font-family: "fa-regular"; content: "\f002"; color: var(--color-grey3);}
        input[type='text'] {width:100%; height: 100%; border-radius: 25px; padding: 0 15px 0 40px;}
    }
    button {display: none;}
}

.contractors-list {
    height: calc(100% - 60px); overflow-y: scroll;             
}
