<div class="pw-overlay contractors" [class.active]="active"></div>
<div class="pw-container contractors" [class.active]="active">
    <div class="pw-win">
        <div class="pw-head">
            <div class="pw-title">{{lang.phrases["chat-contractors-title"]}}</div>
            <div class="pw-close roundbtn" (click)="onClose()"><span></span></div>
        </div>
        <div class="pw-main"> 
            <form class="contractors-search" (submit)="initContractors()">
                <div class="cs-inputwrap"><input type="text" name="search" [(ngModel)]="contractorsSearch" [placeholder]="lang.phrases['common-search']"></div>
                <button type="submit"></button>
            </form>
            <div class="contractors-list" #contractorselement (scroll)="onScroll()">                
                <ng-container *ngIf="contractorsReady">
                    <ng-container *ngFor="let g of contractorsAlphaGroups">
                        <ng-container *ngIf="g.contractors.length">
                            <div class="cl-group">{{g.letter}}</div>
                            <div *ngFor="let c of g.contractors" class="cl-contact" [class.active]="c.id === contractor?.id" (click)="contractor = c">
                                <div class="cl-imgwrap">
                                    <div class="cl-img" [style.background-image]="c.imgOut"><span *ngIf="!c.img">{{c.firstLetter}}</span></div>
                                </div>
                                <div class="cl-name truncate">{{c.name}}</div>            
                            </div>
                        </ng-container>            
                    </ng-container>
                    <div *ngIf="contractorsLoadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
                </ng-container>
                <ng-container *ngIf="!contractorsReady">
                    <div class="loading"><span></span></div>
                </ng-container>                
            </div>            
        </div>
        <div class="pw-foot">
            <button type="button" class="neutral cancel" (click)="onClose()"><span>{{lang.phrases['common-cancel']}}</span></button>
            <button type="button" class="select" [disabled]="!contractor" (click)="onSelect()"><span>{{lang.phrases['common-select']}}</span></button>
        </div>  
    </div>
</div>