<form class="auth-form" (submit)="register()">
    <div class="af-head">{{lang.phrases['register-head']}}</div>
    <div class="af-soc">
        <div class="afs-btn" (click)="enterWithGoogle()"><div class="afsb-logo google"></div><span>{{lang.phrases['register-google']}}</span></div>
        <div class="afs-btn" (click)="enterWithGithub()"><div class="afsb-logo github"></div><span>{{lang.phrases['register-github']}}</span></div>
    </div>
    <div class="af-or"><span>{{lang.phrases['register-or']}}</span></div>
    <div class="af-param">
        <div class="afp-head"><label>{{lang.phrases['register-name']}} *</label></div>
        <div class="afp-inputwrap"><input type="text" name="name" [(ngModel)]="name" [class.error]="formErrorName"></div>
        <div class="af-error" *ngIf="formErrorName">{{lang.phrases['register-error-name']}}</div> 
    </div>
    <div class="af-param">
        <div class="afp-head"><label>{{lang.phrases['register-company']}}</label></div>
        <div class="afp-inputwrap"><input type="text" name="company" [(ngModel)]="company"></div>
    </div>
    <div class="af-param">
        <div class="afp-head"><label>{{lang.phrases['register-email']}} *</label></div>
        <div class="afp-inputwrap"><input type="email" name="email" [(ngModel)]="email" [class.error]="formErrorEmail || formErrorEmailInUse"></div>
        <div class="af-error" *ngIf="formErrorEmail">{{lang.phrases['register-error-email']}}</div>  
        <div class="af-error" *ngIf="formErrorEmailInUse">{{lang.phrases['register-error-emailinuse']}}</div>  
    </div>
    <div class="af-param">
        <div class="af-2cols">
            <div class="af-col">
                <div class="afp-head"><label>{{lang.phrases['register-code']}} *</label></div>
                <div class="afp-inputwrap"><input type="text" name="code" [(ngModel)]="code" [class.error]="formErrorCode || formErrorCodeInvalid"></div>
                <div class="af-error" *ngIf="formErrorCode">{{lang.phrases['register-error-code']}}</div> 
                <div class="af-error" *ngIf="formErrorCodeInvalid">{{lang.phrases['register-error-codeinvalid']}}</div> 
            </div>
            <div class="af-col">
                <div class="afp-head">&nbsp;</div>
                <div class="afp-btnwrap" *ngIf="!formCodeSent"><button type="button" [class.busy]="formCodeSending" (click)="verifyEmail()"><span>{{lang.phrases['register-sendcode']}}</span></button></div>
                <div class="afp-inputwrap" *ngIf="formCodeSent">{{lang.phrases['register-codesent']}}</div>                
            </div>
        </div>        
    </div>
    <div class="af-param">
        <div class="afp-head"><label>{{lang.phrases['register-password']}} *</label></div>
        <div class="afp-inputwrap"><input type="password" name="password" [(ngModel)]="password" [class.error]="formErrorPassword" [placeholder]="lang.phrases['register-password-ph']"></div>
        <div class="af-error" *ngIf="formErrorPassword">{{lang.phrases['register-error-password']}}</div>
    </div>
    <div class="af-param">
        <check-box [(value)]="agree" [title]="lang.phrases['register-agree']" [error]="formErrorAgree"></check-box>
    </div>
    <div class="af-btnwrap"><button type="submit" [class.busy]="formLoading"><span>{{lang.phrases['register-submit']}}</span></button></div>    
</form>
