.chat {
    @media (min-width:0) {display: block;} // чтобы предотвратить растягивание по ширине контента, когда ширина блока контактов будет нефиксированная (100%)
    @media (min-width:1000px) {display: flex;}
    height: 100%; width: 100%; overflow: hidden; position: relative;       
    .chat-messages {
        flex:1; height: 100%; overflow: auto;
        .cm-placeholder {
            width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 20px; color: var(--color-grey3);
            span::before {display: block; font-family: "fa-regular"; content: "\f075"; text-align: center; font-size: 50px; margin-bottom: 15px;}
        }
        .cm-workspace {
            height: 100%; width:100%; overflow: hidden; position: relative;
            .cmw-top {
                @media (min-width: 0) {padding: 0 15px;}
                @media (min-width: 1000px) {padding: 0 25px;}
                height: 60px; background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid; display: flex; justify-content: space-between; align-items: center;
                .cmw-contractor {
                    display: flex; align-items: center;
                    .cmw-back {
                        margin-right: 10px;                         
                        span::before {content: "\f30a";}
                    }
                    .cmw-imgwrap {
                        margin-right: 15px;
                        .cmw-img {width:40px; height: 40px; border-radius: 20px; background-position: center center; background-size: cover; background-color: var(--color-grey4); text-transform: uppercase; display: flex; align-items: center; justify-content: center;}
                    }
                    .cmw-name {font-size: 16px; font-weight: 500;}
                }
                .cmw-btns {color: var(--color-grey2);}
            }
            .cmw-messages {
                @media (min-width: 0) {padding: 15px;}
                @media (min-width: 1000px) {padding: 25px;}
                height: calc(100% - 120px); background-color: white; overflow-y: scroll; display: flex; flex-direction: column-reverse; position: relative;
                &.with-replyto {height: calc(100% - 180px);}                
            }
            .cmw-bottom {
                @media (min-width: 0) {padding: 0 15px;}
                @media (min-width: 1000px) {padding: 0 25px;}
                height: 60px; background-color: var(--color-bg-light); border-top: 1px var(--color-grey5) solid; display: flex; align-items: center;                
                form {
                    display: flex; width:100%;
                    .cmwb-inputwrap {
                        flex: 1; height: 40px; margin-right: 10px;
                        input {width:100%; height: 100%; border:1px var(--color-grey4) solid; border-radius: 25px; padding: 0 15px;}
                    }
                    button {
                        background: none; border: none; opacity: 0.3; pointer-events: none;
                        &:hover {background-color: var(--color-grey5);}
                        &.active {opacity: 1; pointer-events: inherit;}                        
                        img {transform: rotate(90deg); height: 24px;}
                    }
                }
            }
        }
    }
}