<div class="chat">
    <contacts-chatting [contractorsReady]="contractorsReady" [contractorSelected]="contractorSelected" [contractors]="contractors" [contractor]="contractor" (activateNotChattingContacts)="notChattingContactsActive = true"></contacts-chatting>
    <contacts-notchatting [(active)]="notChattingContactsActive" [reload]="notChattingContactsReload" (addContractor)="onAddContractor($event)"></contacts-notchatting>
    <div class="chat-messages" *ngIf="contractorsReady" [class.only-desktop-b]="!contractorSelected">
        <div class="cm-placeholder" *ngIf="!contractor"><span>{{lang.phrases["chat-placeholder"]}}</span></div>
        <div class="cm-workspace" *ngIf="contractor">            
            <panel-contact [(active)]="contactPanelActive" [contractor]="contractor"></panel-contact>
            <panel-actions [(message)]="actionMessage"></panel-actions>
            <div class="cmw-top">
                <div class="cmw-contractor">
                    <div class="roundbtn cmw-back only-mobile-f" routerLink="/chat"><span></span></div>
                    <div class="cmw-imgwrap">
                        <div class="cmw-img" [style.background-image]="contractor.img ? 'url(/img/contractors/'+contractor.img+')' : 'none'"><span *ngIf="!contractor.img">{{contractor.firstLetter}}</span></div>
                    </div>
                    <div class="cmw-name">{{contractor.name}}</div>
                </div>
                <div class="cmw-btns">
                    <messages-menubtn (delete)="onDeleteChat()" (contact)="contactPanelActive = true"></messages-menubtn>
                </div>                
            </div>
            <!-- messages -->
            <div class="cmw-messages" [class.with-replyto]="myMessageReplyTo" #messagesblock (scroll)="onScroll()">
                <ng-container *ngIf="messagesReady">                    
                    <chat-message *ngFor="let m of messages" [message]="m" [inAction]="m.id === actionMessage?.id" [buttonsEnabled]="true" (reply)="onReply(m)" (actions)="actionMessage = m"></chat-message>
                    <div *ngIf="messagesLoadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
                </ng-container>
                <ng-container *ngIf="!messagesReady">
                    <div class="loading abs"><span></span></div>
                </ng-container>                
            </div>
            <!-- /messages -->
            <reply-to *ngIf="myMessageReplyTo" [(quote)]="myMessageReplyTo"></reply-to>
            <div class="cmw-bottom">
                <form (submit)="messageCreate()">
                    <div class="cmwb-inputwrap"><input type="text" name="mymessage" [(ngModel)]="myMessageText"></div>
                    <button type="submit" class="roundbtn" [class.active]="socketActive"><img src="/assets/img/send.svg"></button>
                </form>                
            </div>
        </div>
    </div>    
</div>
