<div class="generic-edit" *ngIf="temp">    
    <the-contractor [x]="temp" [errorName]="errorName" [errorPhone]="errorPhone" [closable]="true" (save)="onSave()"></the-contractor>
    <div class="ge-foot">
        <div class="gef-left">
            <button *ngIf="temp.id" type="button" class="danger delete" (click)="onDelete()"><span>{{lang.phrases['common-delete']}}</span></button>
        </div>
        <div class="gef-right">
            <button type="button" class="save" [class.busy]="loading" (click)="onSave()"><span>{{lang.phrases['common-save']}}</span></button>
            <button *ngIf="temp.id" type="button" class="neutral cancel" routerLink="/contractors/view/{{contractor.id}}"><span>{{lang.phrases['common-cancel']}}</span></button>            
        </div>
    </div>    
</div>