.dp-date {
    background-color: var(--color-highlight1); height: 40px; display: inline-flex; align-items: center; padding:0 15px; border-radius: 20px; color: var(--color-grey2); cursor: pointer;
    &:hover {background-color: var(--color-highlight2);}
    span::before {font-family: "fa-regular"; margin-right: 5px; content: "\f073";}        
}
.dp-calendar {
    position: fixed; z-index: 1000; display: none; padding: 15px; background-color: white; box-shadow: var(--shadow-popup); border-radius: 5px;
    &.active {display: block;}
    .dp-head {
        display: flex; justify-content: space-between; align-items: center; height: 30px; margin-bottom: 15px; 
        .dp-head-currentmonth {font-size: 14px; text-transform: capitalize; font-weight: 500;}
        .roundbtn {
            height: 30px; width:30px; 
            span::before {font-size: 14px;}
        }
        .dp-head-back {span::before {content: "\f053";}}
        .dp-head-forward {span::before {content: "\f054";}}
    }
    .dp-days {
        margin-bottom: 15px; height: 222px;
        .dp-days-content {
            display: grid; grid-template-columns: repeat(7, 30px); gap: 2px; font-size: 12px; 
            div {
                height: 30px; border-radius: 15px; display: flex; align-items: center; justify-content: center;
                &.head {color: var(--color-grey2); text-transform: capitalize;}
                &.day {
                    cursor: pointer; 
                    &:hover {background-color: var(--color-grey5);}
                    &.hidden {opacity: 0; pointer-events: none;}
                    &.current {background-color: var(--color-violet-medium); color: white;}
                    &.holiday {color: var(--color-red);}
                }                    
            }
        }                
    } 
    .dp-foot {
        height: 30px; display: flex; justify-content: flex-end;
        button {height: 30px; padding: 0 15px; border-radius: 15px;}
    }
}
