<div class="dp-date" id="dp-date-{{unique}}" #btnelement (click)="onActivate()"><span>{{formattedDate}}</span></div>
<div class="dp-calendar" id="dp-calendar-{{unique}}" [class.active]="calendarActive" [style.left]="calendarLeft" [style.top]="calendarTop">        
        <div class="dp-head">
            <div class="dp-head-back roundbtn" (click)="onMonthBack();"><span></span></div>
            <div class="dp-head-currentmonth"><span>{{lang.phrases["date-month-"+(month+1)]}} {{year}}</span></div>
            <div class="dp-head-forward roundbtn" (click)="onMonthForward();"><span></span></div>
        </div>
        <div class="dp-days">                
            <div class="dp-days-content">
                <div class="head" *ngFor="let i of [1,2,3,4,5,6,7]">{{lang.phrases['date-week-'+i]}}</div>                
                <div *ngFor="let day of days" class="day" [class.hidden]="day.hidden" [class.holiday]="day.holiday" [class.current]="day.current" (click)="onSetDate(day);">{{day.n}}</div>
            </div>
        </div>
        <div class="dp-foot">
            <button type="button" class="compact select" (click)="onApply()"><span>{{lang.phrases["common-select"]}}</span></button>
        </div>
</div> 
