// win
.pw-container.action {
    .pw-win {
        @media (min-width:0) {width: 100%;}
        @media (min-width:1000px) {width: 600px;}
        margin: auto;         
    }
    &.in {.pw-win {.pw-head {.pw-title::before {content: "\f063";}}}}
    &.out {.pw-win {.pw-head {.pw-title::before {content: "\f062";}}}}
}

// inner content
.aw-section {
    margin-bottom: 30px; 
    &.compact {margin-bottom: 20px;}               
    .aw-sectionhead {font-size: 16px; font-weight: 500; margin-bottom: 15px;}
    .aw-sectionhead2 {
        height: 40px; display: flex;  justify-content: space-between; align-items: center; margin-bottom: 15px;
        .awsh2-title {    
                line-height: 20px;                    
                .awsh2-title1 {font-size: 16px; font-weight: 500;}
                .awsh2-title2 {font-size: 12px; color: var(--color-grey2);}
        }
        .awsh2-btns {
            display: flex;
            .awsh2-btn {margin-left: 10px;}            
        }                    
    }
}
.aw-files {}
.aw-filepicker {margin-bottom: 15px;}
.aw-comment {
    height: 120px;
    textarea {width: 100%; height: 100%;}
}  
