<div class="pw-overlay" [class.active]="active"></div>
<div class="pw-container action {{employeeAction?.direction}}" [class.active]="active">
    <div class="pw-win" *ngIf="message && employeeAction">        
        <div class="pw-head">
            <div class="pw-title">{{employeeAction.name}}</div>
            <div class="pw-close roundbtn" (click)="onClose()"><span></span></div>
        </div>
        <div class="pw-main padded">            
            <!-- file in message -->
            <ng-container *ngIf="employeeAction.direction === 'in'">
                <div class="aw-section">
                    <div class="aw-sectionhead">{{lang.phrases["actions-fileinmsg"]}}</div>
                    <div class="aw-files">
                        <action-file *ngIf="message.fileurl" [name]="message.filename" [url]="message.fileurl" [(description)]="messageFileDescription"></action-file>                        
                        <em *ngIf="!message.fileurl">{{lang.phrases["common-empty2"]}}</em>                    
                    </div>
                </div>
            </ng-container>            
            <!-- additional files -->
            <div class="aw-section">
                <div class="aw-sectionhead">{{employeeAction.direction === 'in' ? lang.phrases["actions-filesextra"] : lang.phrases["actions-files"]}}</div>
                <div class="aw-filepicker">
                    <file-picker (picked)="onUploaded($event)"></file-picker>
                </div>    
                <div class="aw-files" *ngIf="uploads.length">
                    <action-file *ngFor="let u of uploads; let i = index" [name]="u.name" [(description)]="u.description" (delete)="onDeleteUpload(i)"></action-file>                                            
                </div>                
            </div>
            <!-- comment -->
            <div class="aw-section">
                <div class="aw-sectionhead">{{lang.phrases["actions-comment"]}}</div>
                <div class="aw-comment">
                    <textarea [(ngModel)]="comment"></textarea>
                </div>
            </div>                       
            <!-- deal -->
            <div class="aw-section">
                <div class="aw-sectionhead2">
                    <div class="awsh2-title">                            
                        <div class="awsh2-title1" [class.error]="errorDeal">{{lang.phrases["chat-action-selectdeal"]}} *</div>
                        <div class="awsh2-title2" [class.error]="errorDeal">{{lang.phrases["chat-action-orcreatedeal"]}}</div>
                    </div>
                    <div class="awsh2-btns">
                        <div class="awsh2-btn roundbtn search violet" (click)="dealsListActive = true"><span></span></div>                        
                        <div class="awsh2-btn roundbtn create violet" (click)="onNewDeal()"><span></span></div>                        
                    </div>                        
                </div>
                <div class="aw-deal">
                    <the-deal *ngIf="deal" [deal]="deal" [canChangeContact]="false"></the-deal>                                            
                    <em *ngIf="!deal">{{lang.phrases["chat-action-nodeal"]}}</em>                    
                </div>
            </div>       
            <!-- reminders -->          
            <div class="aw-section">
                <div class="aw-sectionhead">{{lang.phrases["actions-reminders"]}}</div>
                <action-reminders [reminders]="reminders"></action-reminders>
            </div>  
            <!-- tags --> 
            <div class="aw-section compact">
                <div class="aw-sectionhead">{{lang.phrases["actions-tags"]}}</div>
                <flex-select-creatable [items]="tags" visibleField="name" object="actionTag"></flex-select-creatable>
            </div>              
            <!-- status -->
            <div class="aw-section">
                <div class="aw-sectionhead">{{lang.phrases["actions-status"]}}</div>
                <div class="aw-select">
                    <div class="selectwrap">
                        <select [(ngModel)]="actionstatus_id">
                            <option [ngValue]="null">{{lang.phrases["common-empty4"]}}</option>
                            <option *ngFor="let s of actionStatuses" [ngValue]="s.id">{{s.name}}</option>
                        </select>
                    </div>                    
                </div>                
            </div>               
        </div>
        <div class="pw-foot">
            <button type="button" class="neutral cancel" (click)="onClose()"><span>{{lang.phrases['common-cancel']}}</span></button>
            <button type="button" class="action" [class.busy]="loading" (click)="onCreate()"><span>{{lang.phrases['common-exec']}}</span></button>
        </div>  
        <div class="loading-ovl rounded" [class.active]="loading"><span></span></div>           
    </div>
</div>

<win-deals *ngIf="message" [contact_contractor_id]="message.contractor_id" [(active)]="dealsListActive" (selected)="deal = $event"></win-deals>
