<div class="actions-panel" [class.active]="message">
    <div class="ap-head">
        <div class="roundbtn ap-close" (click)="onClose()"><span></span></div>
        <div class="ap-title">{{lang.phrases["chat-actions-title"]}}</div>
    </div>
    <div class="ap-content">
        <div class="ap-section">
            <div class="ap-sectionhead">{{lang.phrases["chat-actions-newaction"]}}</div>
            <div class="ap-actions">
                <div *ngFor="let a of employee.group.actions" class="ap-action" [class.in]="a.direction === 'in'" [class.out]="a.direction === 'out'" (click)="onActionClick(a)">
                    <div class="ap-actionname"><span>{{a.name}}</span></div>
                </div>
            </div>
        </div>
        <div class="ap-section" *ngIf="message">
            <div class="ap-sectionhead">{{lang.phrases["chat-actions-oldactions"]}}</div>
            <div class="ap-oldactions">
                <ng-container *ngIf="message.actions.length">
                    <div *ngFor="let a of message.actions" class="ap-oldaction" [class.in]="a.employeeAction.direction === 'in'" [class.out]="a.employeeAction.direction === 'out'">
                        <div class="apo-content">
                            <div class="apo-date">{{a.formattedCreatedAt}}</div>
                            <div class="apo-name">{{a.employeeAction.name}}</div>
                        </div>                        
                    </div>
                </ng-container>                
                <ng-container *ngIf="!message.actions.length">
                    <em>{{lang.phrases["common-empty2"]}}</em>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<win-action [message]="message" [employeeAction]="employeeAction" [(active)]="actionActive"></win-action>
