.actions-panel {
    @media (min-width: 0) {width:100%; right: -100%;}
    @media (min-width: 1000px) {width:400px; right: -400px;}
    position: absolute; top: 0; height: 100%; background-color: white; transition: 0.3s; z-index: 2; box-shadow: var(--shadow-win); opacity: 0;
    &.active {right: 0; opacity: 1;}
    .ap-head {
        @media (min-width: 0) {padding: 0 15px;}
        @media (min-width: 1000px) {padding: 0 25px;}
        height: 60px; background-color: var(--color-bg-light); border-bottom: 1px var(--color-grey5) solid; display: flex; align-items: center;
        .ap-close {
            margin-right: 15px;            
            span::before {content: "\f00d";}                                
        }
        .ap-title {font-size: 16px; font-weight: 500;}
    }
    .ap-content {
        @media (min-width: 0) {padding: 15px;}
        @media (min-width: 1000px) {padding: 20px 25px;}
        height: calc(100% - 60px); overflow-y: auto; position: relative;        
        .ap-section {
            margin-bottom: 30px;
            &:last-child {margin-bottom: 0;}
            .ap-sectionhead {font-size: 16px; font-weight: 500; margin-bottom: 15px;}            
        }
        .ap-actions {
            @media (min-width: 0) {gap: 15px;}
            @media (min-width: 1000px) {gap: 25px;}
            display: grid; grid-template-columns: 1fr 1fr; 
            .ap-action {
                height: 60px; border-radius: 15px; box-shadow: var(--shadow-small); padding: 15px; display: flex; align-items: center; cursor: pointer; transition: 0.3s; background-color: white; position: relative;
                &:hover {background-color: var(--color-grey5);}
                span {
                    display: flex;
                    &::before {font-family: "fa-regular"; margin: 0 10px 0 0; transform: translateY(3px);}
                }                
                &.in {span::before {content: "\f063";}}
                &.out {span::before {content: "\f062";}}
            }
        }
        .ap-oldactions {
            .ap-oldaction {
                margin-bottom: 15px; display: flex;
                &::before {font-family: "fa-regular"; transform: translateY(3px); margin: 0 10px 0 0;}
                &.in::before {content: "\f063";}
                &.out::before {content: "\f062";}
                .apo-content {
                    .apo-date {font-size: 12px; color: var(--color-grey2);}
                    .apo-name {}
                }                
            }
        }
    }
}