<div class="contractor-view">
    <div class="cv-head">
        <div class="cv-img" [style.background-image]="contractor.imgOut"><span *ngIf="!contractor.img">{{contractor.firstLetter}}</span></div>
        <div class="roundbtn cv-close" routerLink="/contractors"><span></span></div>
        <div class="cv-edit" routerLink="/contractors/edit/{{contractor.id}}"><span>{{lang.phrases["common-edit"]}}</span></div>
    </div>
    <div class="cv-content">        
        <div class="cv-namegroup">
            <div class="cv-name">{{contractor.name}}</div>
            <div class="cv-groups">
                <div *ngFor="let g of contractor.groups" class="cv-group">{{g.name}}</div>
            </div>            
        </div>        
        <div class="cv-section">            
            <div class="cvs-param">
                <div class="cvs-title">{{lang.phrases["contractors-phone"]}}</div>
                <div class="cvs-value">{{contractor.phone}}</div>
            </div>                        
            <div class="cvs-param">
                <div class="cvs-title">{{lang.phrases["contractors-banned"]}}</div>
                <div class="cvs-value">{{contractor.banned ? lang.phrases["common-yes"] : lang.phrases["common-no"]}}</div>
            </div>
            <div class="cvs-param">
                <div class="cvs-title">{{lang.phrases["common-createdat"]}}</div>
                <div class="cvs-value">{{contractor.formattedCreatedAt}}</div>
            </div>
        </div> 
    </div>
</div>