.contractor-view {
    .cv-head {
        height: 120px; background-color: var(--color-blue-dark); position: relative; margin-bottom: 60px;
        .cv-img {
            @media (min-width:0) {left: 15px;}
            @media (min-width:1000px) {left: 25px;}
            position: absolute; bottom: -60px; width:120px; height: 120px; border-radius: 60px; background-size: cover; background-position: center center; background-color: var(--color-grey4); display: flex; align-items: center; justify-content: center; font-size: 32px; border:3px white solid;
        }
        .cv-close {
            @media (min-width:0) {right: 15px; top:15px;}
            @media (min-width:1000px) {right: 25px; top: 20px;}
            position: absolute; color: var(--color-grey3);;
            &:hover {background-color: var(--color-grey1);}
            span::before {content: "\f00d";}       
        }
        .cv-edit {
            @media (min-width:0) {right: 15px;}
            @media (min-width:1000px) {right: 25px;}             
            position: absolute; bottom: -60px; height: 40px; display: flex; align-items: center; padding: 0 15px; border-radius: 20px; cursor: pointer; transition: 0.3s; color: var(--color-grey2); border: 1px var(--color-grey4) solid;
            &:hover {background-color: var(--color-grey5);}
            span::before {font-family: "fa-regular"; content: "\f044"; margin-right: 10px;}  
        }
    }
    .cv-content {
        @media (min-width:0) {padding: 15px;}
        @media (min-width:1000px) {padding: 20px 25px;}
        .cv-namegroup {
            margin-bottom: 30px; border-bottom: 1px var(--color-grey5) solid; padding-bottom: 20px;
            .cv-name {font-weight: bold; font-size: 32px;}
            .cv-groups {
                display: flex; margin-top: 10px;
                .cv-group {display: flex; align-items: center; height: 30px; padding: 0 10px; background-color: var(--color-highlight1); font-size: 12px; border-radius: 15px; color: var(--color-grey2); font-weight: 500; margin: 0 10px 10px 0; white-space: nowrap;}
            }            
        }
        .cv-section {
            margin-bottom: 30px;
            &:last-child {margin-bottom: 0;}
            .cvs-head {font-size: 16px; font-weight: 500; margin-bottom: 15px;}
            .cvs-param {
                margin-bottom: 15px;
                &:last-child {margin-bottom: 0;}
                .cvs-title {font-weight: 500; color: var(--color-grey3); margin-bottom: 3px;}
                .cvs-value {}
            }
        }
    }
}