<div class="two-panels" [class.splitted]="splitted">
    <div class="tp-left" #contractorsblock (scroll)="contractorsOnScroll()">
        <div class="page-head">            
            <div class="ph-head1"><span class="phh1-txt">{{lang.phrases["contractors-title"]}}</span></div>
            <div class="ph-head2 margined">{{lang.phrases["common-length"]}}: {{contractorsLength}}</div>
            <div class="ph-dash">
                <form class="ph-search" (submit)="initContractors()">
                    <div class="phs-inputwrap"><input type="text" name="search" [(ngModel)]="contractorsSearch" [placeholder]="lang.phrases['common-search']"></div>
                    <button type="submit"></button>
                </form>
                <div class="ph-btnwrap">
                    <button type="button" class="create" routerLink="/contractors/create"><span>{{lang.phrases["common-create"]}}</span></button>
                </div>
            </div>
        </div>
        <div class="contractors-list">
            <ng-container *ngIf="contractorsReady">
                <ng-container *ngFor="let g of contractorsAlphaGroups">
                    <ng-container *ngIf="g.contractors.length">
                        <div class="cl-group">{{g.letter}}</div>
                        <div *ngFor="let c of g.contractors" class="cl-contact" [class.active]="c.id === contractor?.id"  routerLink="/contractors/view/{{c.id}}">
                            <div class="cl-imgwrap">
                                <div class="cl-img" [style.background-image]="c.imgOut"><span *ngIf="!c.img">{{c.firstLetter}}</span></div>
                            </div>
                            <div class="cl-name truncate">{{c.name}}</div>            
                        </div>
                    </ng-container>            
                </ng-container>
                <div *ngIf="contractorsLoadingMore" class="loading"><span>{{lang.phrases["common-loading"]}}</span></div>
            </ng-container>
            <ng-container *ngIf="!contractorsReady">
                <div class="loading"><span></span></div>
            </ng-container>
        </div>
    </div>
    <div class="tp-right">
        <contractor-view *ngIf="contractor && contractorMode === 'view'" [contractor]="contractor"></contractor-view>
        <contractor-edit *ngIf="contractor && (contractorMode === 'edit' || contractorMode === 'create')" [contractor]="contractor" [loading]="contractorLoading" (save)="contractorOnSave($event)" (delete)="contractorOnDelete()"></contractor-edit>
    </div>    
</div>

<div class="loading-ovl" [class.active]="contractorLoading"><span></span></div>