header {
    @media (min-width:0) {padding: 0 15px;}
	@media (min-width:1000px) {padding: 0 25px;}						
    height: 60px; background-color: white; box-shadow: var(--shadow-small); position: relative; z-index: 20; display: flex; align-items: center; justify-content: space-between;
    .h-btns {
        display: flex;
        .h-btn {}
        &.left {.h-btn {margin: 0 10px 0 0;}}
        &.right {.h-btn {margin: 0 0 0 10px;}}
    }
}