<header>
    <div class="h-btns left">
        <div class="h-btn roundbtn menu" (click)="sidebarActive = !sidebarActive"><span></span></div>        
    </div>
    <div class="h-btns right">
        <div class="h-btn roundbtn logout" routerLink="/auth/logout"><span></span></div>        
    </div>
</header>