<div class="file-picker">
    <div class="fp-btn" [class.active]="active" (click)="onClick()" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)"><span>{{lang.phrases["common-upload"]}}</span></div>
    <div class="fp-error" *ngIf="error">{{lang.phrases["common-upload-limit"]}}</div>
</div>