.file-picker {
    .fp-btn {
        height: 60px; margin-bottom: 3px; border: 1px var(--color-grey4) dashed; border-radius: 15px; cursor: pointer; display: flex; justify-content: center; align-items: center; user-select: none;
        &:hover {background-color: var(--color-grey5);}
        &.active {background-color: var(--color-grey5);}
        span {
            display: flex; align-items: center; color: var(--color-grey2); pointer-events: none;
            &::before {font-family: "fa-regular"; content: "\f067"; font-size: 24px; margin-right: 10px;}
        }
    }
    .fp-error {font-size: 10px; color: var(--color-red); text-align: center;}    
}

