<div class="sidebar" [class.active]="active">
    <div class="sb-content">
        <div class="sb-head">
            <div class="sb-logo"><a routerLink="/"><img src="/assets/img/logo.svg" alt="logo"></a></div>
            <div class="sb-btns">
                <div class="roundbtn sb-btn profile"><span></span></div>            
            </div>        
        </div>
        <div class="sb-profile">
            <div class="sb-imgwrap">
                <div class="sb-img" [style.background-image]="employee.img ? 'url(/img/employees/'+employee.img+')' : 'none'"><span *ngIf="!employee.img">{{employee.firstLetter}}</span></div>                
            </div>
            <div class="sb-name">{{employee.name}}</div>
            <div class="sb-email">{{employee.email}}</div>
        </div>
        <nav>
            <section>
                <div class="sbn-head">
                    <div class="sbn-head1">{{lang.phrases["menu-main-head1"]}}</div>
                    <div class="sbn-head2">{{lang.phrases["menu-main-head2"]}}</div>
                </div>
                <div class="sbn-items">
                    <a class="home" [class.active]="!url[1]" routerLink="/"><span>{{lang.phrases["menu-home"]}}</span></a>
                    <a class="chat" [class.active]="url[1] === 'chat'" routerLink="/chat"><span>{{lang.phrases["menu-chat"]}}</span></a>
                    <a class="contractors" [class.active]="url[1] === 'contractors'" routerLink="/contractors"><span>{{lang.phrases["menu-contractors"]}}</span></a>
                    <a class="deals" [class.active]="url[1] === 'deals'" routerLink="/deals"><span>{{lang.phrases["menu-deals"]}}</span></a>
                </div>
            </section>
            <section>
                <div class="sbn-head">
                    <div class="sbn-head1">{{lang.phrases["menu-profile-head1"]}}</div>
                    <div class="sbn-head2">{{lang.phrases["menu-profile-head2"]}}</div>
                </div>
                <div class="sbn-items">
                    <a class="account" [class.active]="url[1] === 'account'" routerLink="/account"><span>{{lang.phrases["menu-account"]}}</span></a>
                    <a class="settings" [class.active]="url[1] === 'settings'" routerLink="/settings"><span>{{lang.phrases["menu-settings"]}}</span></a>
                    <a class="logout" routerLink="/auth/logout"><span>{{lang.phrases["menu-logout"]}}</span></a>
                </div>
            </section>
        </nav>
    </div>    
    <div class="sb-overlay" (click)="active = false"></div>
</div>