.sidebar {    
    width:0; height: 100%; transition: 0.3s; position: relative;
    &.active {
        @media (min-width:0) {width:0;}
        @media (min-width:1000px) {width:280px;}        
        .sb-content {left: 0;}
        .sb-overlay {
            @media (min-width:0) {display: block;}
            @media (min-width:1000px) {display: none;}        
        }
    }
    .sb-overlay {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none; z-index: 30;}
    .sb-content {
        @media (min-width:0) {position: fixed;}
        @media (min-width:1000px) {
            position: absolute;
            &::-webkit-scrollbar {-webkit-appearance: none;}
            &::-webkit-scrollbar:vertical {width: 8px;}
            &::-webkit-scrollbar-thumb {background-color: var(--color-grey3);}            
            &::-webkit-scrollbar-track {background-color: var(--color-blue-dark);}
        }
        width:280px; height: 100%; left: -280px; top:0; overflow-y: auto; background-color: var(--color-blue-dark); transition: 0.3s; z-index: 31;
        .sb-head {
            height: 60px; padding: 0 25px; display: flex; justify-content: space-between; align-items: center;
            .sb-logo {
                img {height: 30px;}
            }
            .sb-btns {
                display: flex;
                .sb-btn {
                    color: var(--color-grey3); margin-left: 10px;
                    &:hover {background-color: var(--color-grey1);}                    
                    &.profile {span::before {content: "\f2bd";}}
                }
            }
        }
        .sb-profile {
            padding: 30px 25px;
            .sb-imgwrap {
                display: flex; justify-content: center; margin-bottom: 30px;
                .sb-img {width: 90px; height: 90px; border-radius: 45px; display: flex; align-items: center; justify-content: center; color: white; font-size: 16px; background-position: center center; background-size: cover; background-color: var(--color-grey1);}
            }
            .sb-name {color: white; margin-bottom: 5px; text-align: center;}
            .sb-email {color: var(--color-grey3); text-align: center;}
        }
        nav {
            section {
                margin-bottom: 15px;
                .sbn-head {
                    padding: 0 25px; margin-bottom: 10px;
                    .sbn-head1 {color: var(--color-violet-light); text-transform: uppercase; font-weight: 600; font-size: 12px; line-height: 24px;}
                    .sbn-head2 {color: var(--color-grey3); font-size: 11px;}
                }
                .sbn-items {
                    padding: 0 10px;
                    a {
                        display: block; height: 40px; line-height: 40px; color: white; text-decoration: none; opacity: 0.8; padding: 0 15px; font-size: 13px; font-weight: 500; border-radius: 10px; margin-bottom: 3px;
                        span {
                            display: flex; align-items: center;
                            &::before {font-size: 18px; width:30px; font-family: "fa-regular";}
                        }                    
                        &:hover, &.active {background-color: var(--color-grey1); opacity: 1;}
                        &.home {span::before {content: "\f015";}}
                        &.chat {span::before {content: "\f4a3";}}
                        &.contractors {span::before {content: "\f0c0";}}
                        &.deals {span::before {content: "\f2b5";}}
                        &.account {span::before {content: "\f2bd";}}
                        &.settings {span::before {content: "\f013";}}
                        &.logout {span::before {content: "\e023";}}
                    }
                }
            }        
        }
    }    
}  