#preloader {
    position: fixed; z-index: 10000; left: 0; top: 0; width: 100%; height: 100%; background-color: #111625; display: flex; justify-content: center; align-items: center;
    img {
        @media (min-width:0) {height: 90px;}
        @media (min-width:1000px) {height: 150px;}
    }
}