<div class="menubtn messages-menubtn" id="menubtn-{{unique}}">
    <div class="roundbtn menubtn-btn" (click)="active = !active"><span></span></div>
    <div class="menubtn-menu" [class.active]="active">
        <ul>
            <li *ngFor="let item of items" [class]="item" (click)="onSelect(item)"><span>{{lang.phrases["chat-msgsmenu-"+item]}}</span></li>            
        </ul>
    </div>
</div>
